/*********************************
  Index Page Styles
*********************************/
@import "../partials/_globals";

main {
  @include ready;
  @include bgImg;
  @include flexbox($direction: c);
  
  padding: 32px 16px; 

  &::before {
    @include fill(true, tpb(0.65));
  }

  form {
    background-color: adjust-color($site-color-main, $alpha: -0.15);
    border-radius: 8px;
    box-shadow: shadow(tpb(0.5));
    // border: bd($theme-main);
    border: bd(1.5px);
    @include theme(bc);
    // min-width: 50%;
    max-width: 480px;
  }
}
