# Ignore
.*
.*/**/*
*.code-workspace
cache/
logs/
node_modules/
phive.phar
src/private/img/assets/*
src/private/img/users/
src/public/**/*.php
src/public/dev/docs/
src/public/assets/css
src/public/assets/js
tmp/
tools/
utils/php-defs/**/*
vendor/

# Allow
!.cpanel.yml
!.htaccess
!.node-version
!.phpdoc-md
!src/private/img/assets/rewards
!src/public/initialize.php
!src/public/api/
!src/public/assets/**/*.php
!utils/php-defs/**/*.template