# Ignore
.*
.*/**/*
*.code-workspace
node_modules/
tools/
vendor/
phive.phar
tmp/
src/private/img/assets/*
src/private/img/users/
src/private/resources/build-tools/**/*
src/public/**/*.php
src/public/dev/docs/
src/public/assets/css
src/public/assets/js

# Allow
!.htaccess
!.node-version
!.cpanel.yml
!.phpdoc-md
!src/public/initialize.php
!src/public/assets/**/*.php
!src/private/img/assets/rewards
!src/private/resources/build-tools/**/*.template