/*********************************
  Credits Page Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Style Declarations ***/
.credits {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 8px;
  overflow: hidden; }
  .credits, .credits * {
    opacity: 1; }
  .credits .banner {
    width: 100%;
    margin: 8px;
    background-color: #f00; }
    .credits .banner .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px; }
      .credits .banner .header .flag {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 16px;
        font-size: 1.25em;
        background-color: rgba(0, 0, 0, 0.25);
        border: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        cursor: default; }
        @media screen and (max-width: 419px) {
          .credits .banner .header .flag strong {
            width: 100%; } }
        @media screen and (min-width: 420px) {
          .credits .banner .header .flag strong {
            padding-left: 6px; } }
        .credits .banner:hover .fa-code {
          -webkit-animation-name: bannerAnimation1;
                  animation-name: bannerAnimation1; }
        .credits .banner:hover .fa-heart {
          -webkit-animation-name: bannerAnimation2;
                  animation-name: bannerAnimation2; }
        .credits .banner .header .flag .fas {
          -webkit-animation-duration: 1.5s;
                  animation-duration: 1.5s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite; }
@-webkit-keyframes bannerAnimation1 {
  20%, 50%, 80% {
    transform: rotate(0deg); }
  35% {
    transform: rotate(-15deg); }
  65% {
    transform: rotate(15deg); } }
@keyframes bannerAnimation1 {
  20%, 50%, 80% {
    transform: rotate(0deg); }
  35% {
    transform: rotate(-15deg); }
  65% {
    transform: rotate(15deg); } }
@-webkit-keyframes bannerAnimation2 {
  0%, 60%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.95); }
  40% {
    transform: scale(1.05); }
  75% {
    transform: scale(1.1); } }
@keyframes bannerAnimation2 {
  0%, 60%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.95); }
  40% {
    transform: scale(1.05); }
  75% {
    transform: scale(1.1); } }
        .credits .banner .header .flag .fa-code {
          padding-right: 6px; }
        .credits .banner .header .flag .fa-heart {
          padding: 0 6px; }
    .credits .banner .description {
      padding: 12px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.25); }
      @media screen and (max-width: 379px) {
        .credits .banner .description {
          font-size: 0.9em; } }
      @media screen and (min-width: 380px) {
        .credits .banner .description {
          font-size: 1em; } }
      .credits .banner .description p {
        color: inherit; }
        .credits .banner:not(:hover) p {
          opacity: 0.85; }
        .credits .banner:hover p {
          opacity: 1; }
  .credits .module {
    flex: 1 1 calc(50% - 16px);
    margin: 8px;
    padding: 8px;
    background-color: #1d3f60; }
    .credits .module::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
      content: "";
      background-color: #000; }
    .credits .module:not(:hover):not(:focus)::before {
      opacity: 0.2; }
    .credits .module:hover::before, .credits .module:focus::before {
      opacity: 0; }
    .credits .module:active {
      transform: scale(0.9); }
    .credits .module .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px; }
    .credits .module .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75em;
      height: 1.75em;
      width: 1.75em;
      padding: 8px;
      margin-right: 16px;
      background-color: #1d3f60;
      border: 1.5px solid #091320;
      border-radius: 4px;
      overflow: hidden; }
      .credits .module .icon::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        content: "";
        background-color: #000; }
      .credits .module:not(:hover):not(:focus) .icon::before {
        opacity: 0; }
      .credits .module:hover .icon::before, .credits .module:focus .icon::before {
        opacity: 0.2; }
      .credits .module:hover .icon .fa-font-awesome-flag, .credits .module:focus .icon .fa-font-awesome-flag {
        -webkit-animation-name: fontAwesomeAnimation;
                animation-name: fontAwesomeAnimation; }
      .credits .module:hover .icon .fa-spinner, .credits .module:focus .icon .fa-spinner {
        -webkit-animation-name: loadingIoAnimation;
                animation-name: loadingIoAnimation; }
      .credits .module:hover .icon .fa-cloud, .credits .module:focus .icon .fa-cloud {
        -webkit-animation-name: cloudflareAnimation;
                animation-name: cloudflareAnimation; }
      .credits .module .icon .fas, .credits .module .icon .fab {
        -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; }
@-webkit-keyframes fontAwesomeAnimation {
  0%, 100% {
    text-shadow: none; }
  35% {
    text-shadow: 0 0 0.5em #fff; } }
@keyframes fontAwesomeAnimation {
  0%, 100% {
    text-shadow: none; }
  35% {
    text-shadow: 0 0 0.5em #fff; } }
@-webkit-keyframes loadingIoAnimation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loadingIoAnimation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes cloudflareAnimation {
  0%, 50%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.9); }
  75% {
    transform: scale(1.1); } }
@keyframes cloudflareAnimation {
  0%, 50%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.9); }
  75% {
    transform: scale(1.1); } }
      .credits .module .icon h3 {
        font-size: 1.5em; }
    .credits .module .description {
      margin: 0;
      padding: 8px; }
  .credits .shoutout {
    margin: 8px;
    padding: 16px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    text-align: center; }
  .credits .banner, .credits .module, .credits .shoutout {
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px; }
