/*********************************
  Credits Page Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Media Queries ***/
@media screen and (max-width: 379px) {
  .credits .banner .description {
    font-size: 0.9em; }

  .credits .module {
    font-size: 0.9em; } }
@media screen and (min-width: 380px) {
  .credits .banner .description {
    font-size: 1em; }

  .credits .module {
    font-size: 1em; } }
@media screen and (max-width: 419px) {
  .credits .banner .header .flag strong {
    width: 100%; } }
@media screen and (min-width: 420px) {
  .credits .banner .header .flag strong {
    padding-left: 6px; } }
/*** Animations ***/
@keyframes bannerAnimation1 {
  20%, 50%, 80% {
    transform: rotate(0deg); }
  35% {
    transform: rotate(-15deg); }
  65% {
    transform: rotate(15deg); } }
@keyframes bannerAnimation2 {
  0%, 60%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.95); }
  40% {
    transform: scale(1.05); }
  75% {
    transform: scale(1.1); } }
@keyframes fontAwesomeAnimation {
  0%, 100% {
    text-shadow: none; }
  35% {
    text-shadow: 0 0 0.5em #fff; } }
@keyframes loadingIoAnimation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*** Style Declarations ***/
.credits {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }
  .credits * {
    opacity: 1;
    transition: opacity 0.2s ease-out; }
  .credits .banner .header .flag .fas, .credits .banner .header .flag .fab, .credits .module .header .icon .fas, .credits .module .header .icon .fab {
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  .credits .banner {
    width: 100%;
    margin: 8px;
    background-color: #f00;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px; }
    .credits .banner:not(:hover) .description p {
      opacity: 0.85; }
    .credits .banner:hover .header .flag .fa-code {
      animation-name: bannerAnimation1; }
    .credits .banner:hover .header .flag .fa-heart {
      animation-name: bannerAnimation2; }
    .credits .banner:hover .description p {
      opacity: 1; }
    .credits .banner .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px; }
      .credits .banner .header .flag {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 16px;
        font-size: 1.25em;
        background-color: rgba(0, 0, 0, 0.25);
        border: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        cursor: default; }
        .credits .banner .header .flag .fa-code {
          padding-right: 6px; }
        .credits .banner .header .flag .fa-heart {
          padding: 0 6px; }
    .credits .banner .description {
      padding: 12px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.25); }
      .credits .banner .description p {
        color: inherit;
        transition: opacity 0.2s ease-out; }
  .credits .module {
    color: inherit;
    text-decoration: none;
    position: relative;
    flex: 1;
    padding: 16px;
    margin: 8px;
    background-color: #1d3f60;
    border: 2px solid #091320;
    border-radius: 4px;
    transition: transform 0.2s ease-out; }
    .credits .module::before, .credits .module .header .icon::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background-color: #000;
      transition: opacity 0.2s ease-out; }
    .credits .module:not(:hover):not(:focus)::before {
      opacity: 0.2; }
    .credits .module:not(:hover):not(:focus) .header .icon::before {
      opacity: 0; }
    .credits .module:hover::before, .credits .module:focus::before {
      opacity: 0; }
    .credits .module:hover .header .icon::before, .credits .module:focus .header .icon::before {
      opacity: 0.2; }
    .credits .module:hover .header .icon .fa-font-awesome-flag, .credits .module:focus .header .icon .fa-font-awesome-flag {
      animation-name: fontAwesomeAnimation; }
    .credits .module:hover .header .icon .fa-spinner, .credits .module:focus .header .icon .fa-spinner {
      animation-name: loadingIoAnimation; }
    .credits .module:active {
      transform: scale(0.9); }
    .credits .module .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      padding: 8px; }
      .credits .module .header .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 1.75em;
        height: 1.75em;
        width: 1.75em;
        padding: 8px;
        margin-right: 16px;
        background-color: #1d3f60;
        border: 1.5px solid #091320;
        border-radius: 4px;
        overflow: hidden; }
        .credits .module .header .icon .fas, .credits .module .header .icon .fab {
          position: relative; }
      .credits .module .header .info h3 {
        font-size: 1.5em; }
    .credits .module .description {
      position: relative;
      padding: 8px; }
