/*********************************
  Credits Page Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Variables ***/
/*** Mixins ***/
/*** Animations ***/
@keyframes sectionHashTargeted {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0.25; } }
@keyframes sectionHashTargetSolidify {
  0% {
    opacity: 0.25; }
  100% {
    opacity: 1; } }
@keyframes qaHashTargeted {
  0%, 50%, 100% {
    opacity: 0; }
  25%, 75% {
    opacity: 0.35; } }
@keyframes qaHashTargetFade {
  0% {
    opacity: 0.35; }
  100% {
    opacity: 0; } }
/*** Media Queries ***/
@media screen and (max-width: 649px) {
  .help-footer .body .panel {
    width: 100%; } }
@media screen and (min-width: 650px) {
  .help-footer .body .panel {
    width: 50%; } }
/*** Style Declarations ***/
main, .help-footer {
  opacity: 1;
  transition: opacity 0.2s ease-out; }
  main *, .help-footer * {
    opacity: 1;
    transition: opacity 0.2s ease-out; }

main {
  padding: 16px 16px 32px; }
  main .toc {
    border: 1.5px solid rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    margin-bottom: 1.25em;
    padding-bottom: 16px; }
    main .toc .header {
      padding: 16px;
      font-size: 1.5em;
      margin-bottom: 8px;
      background-color: rgba(255, 255, 255, 0.2); }
    main .toc .section {
      padding: 8px 16px 0; }
      main .toc .section .title {
        font-size: 1.25em;
        font-weight: 600; }
        main .toc .section .title:not(:hover):not(:focus) {
          text-decoration: none; }
        main .toc .section .title:hover, main .toc .section .title:focus {
          text-decoration: underline; }
        main .toc .section .title:active {
          opacity: 0.75; }
      main .toc .section a {
        color: inherit; }
      main .toc .section li a {
        text-decoration: none; }
        main .toc .section li a:not(:hover):not(:focus) {
          opacity: 0.75; }
        main .toc .section li a:hover, main .toc .section li a:focus {
          opacity: 1; }
        main .toc .section li a:active {
          text-decoration: underline; }
    main .toc ul {
      list-style: disc inside;
      padding: 0.4em 0 0.4em 12px; }
  main section {
    margin: 2.5em 0; }
    main section[data-hashtarget-highlighted="true"] header h2 {
      animation: sectionHashTargeted 2.5s linear infinite; }
    main section[data-hashtarget-highlighted="false"] header h2 {
      animation: sectionHashTargetSolidify 0.75s linear; }
    main section header {
      padding: 6px 9px;
      margin-bottom: 1em;
      background-color: rgba(255, 255, 255, 0.25); }
      main section header h2 {
        font-size: 1.75em; }
    main section .qa {
      position: relative;
      margin-bottom: 0.75em;
      padding: 9px 12px;
      border: 1.5px solid;
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.75);
      overflow: hidden; }
      main section .qa[data-hashtarget-highlighted="true"]:before {
        animation: qaHashTargeted 2.5s linear infinite; }
      main section .qa[data-hashtarget-highlighted="false"]:before {
        animation: qaHashTargetFade 0.75s linear; }
      main section .qa:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: #fff;
        transition: opacity 0.2s ease-out;
        opacity: 0; }
      main section .qa * {
        position: relative; }
      main section .qa h3 {
        font-size: 1.35em;
        margin-bottom: 0.2em;
        color: #fff; }
      main section .qa ul {
        list-style: disc inside;
        padding: 0.4em 0 0.4em 12px; }
      main section .qa a {
        text-decoration: none; }
        body[data-theme="main"] main section .qa a {
          color: #f00; }
        body[data-theme="bl1"] main section .qa a {
          color: #dc143c; }
        body[data-theme="bl2"] main section .qa a {
          color: #ff4500; }
        body[data-theme="tps"] main section .qa a {
          color: #1e90ff; }
        main section .qa a:not(:hover):not(:focus) .label {
          text-decoration: none; }
        main section .qa a:hover .label, main section .qa a:focus .label {
          text-decoration: underline; }
        main section .qa a:active {
          opacity: 0.75; }
        main section .qa a .fas {
          font-size: 0.9em;
          padding-right: 0.15em; }

.help-footer {
  background-color: #1d3f60; }
  .help-footer .header {
    font-size: 1.5em;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25); }
  .help-footer .body {
    display: flex;
    flex-wrap: wrap; }
    .help-footer .body .panel {
      padding: 8px; }
      .help-footer .body .panel.external {
        background-color: rgba(0, 0, 0, 0.1); }
      .help-footer .body .panel .title {
        font-size: 1.25em;
        margin: 8px;
        text-align: center;
        line-height: 1; }
      .help-footer .body .panel .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center; }
        .help-footer .body .panel .button-wrapper a {
          color: inherit;
          text-decoration: none;
          position: relative;
          display: flex;
          align-items: center;
          font-size: 1em;
          margin: 8px;
          padding: 8px;
          line-height: 1;
          border-radius: 4px;
          overflow: hidden; }
          .help-footer .body .panel .button-wrapper a:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #fff;
            transition: opacity 0.2s ease-out; }
          .help-footer .body .panel .button-wrapper a:not(:hover):not(:focus):before {
            opacity: 0.2; }
          .help-footer .body .panel .button-wrapper a:hover:before, .help-footer .body .panel .button-wrapper a:focus:before {
            opacity: 0.4; }
          .help-footer .body .panel .button-wrapper a:active {
            opacity: 0.75; }
          .help-footer .body .panel .button-wrapper a * {
            position: relative; }
          .help-footer .body .panel .button-wrapper a .icon {
            font-size: 1.5em;
            padding-right: 8px; }
          .help-footer .body .panel .button-wrapper a .label {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            line-height: normal;
            font-size: 0.75em; }
