/*********************************
  Index Page Styles
*********************************/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
main.no-header {
  display: flex;
  flex-direction: column;
  padding-top: 0; }
  main.no-header, main.no-header * {
    opacity: 1; }

section {
  background-position: center;
  background-size: cover;
  flex: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75); }
  section::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    content: "";
    background-color: rgba(0, 0, 0, 0.6); }
  section:not(:first-of-type) {
    border-top: 2px solid; }
  section.main {
    border-color: #f00; }
  section.bl1 {
    border-color: #dc143c; }
  section.bl2 {
    border-color: #ff4500; }
  section.tps {
    border-color: #1e90ff; }
  section.bl3 {
    border-color: #ffa900; }
  section.main {
    padding-top: 64px;
    text-align: center;
    min-height: calc(100vh + 2px); }
    body[data-theme="main"] section.main {
      border-color: #f00; }
    body[data-theme="bl1"] section.main {
      border-color: #dc143c; }
    body[data-theme="bl2"] section.main {
      border-color: #ff4500; }
    body[data-theme="tps"] section.main {
      border-color: #1e90ff; }
    body[data-theme="bl3"] section.main {
      border-color: #ffa900; }
    section.main .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    section.main .brand {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 2em;
      margin-bottom: 16px; }
      section.main .brand .logo {
        width: 3.5em;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
        border-radius: 50%; }
      section.main .brand .name {
        font-size: 1.25em; }
      section.main .brand .tagline {
        font-size: 0.9em;
        opacity: 0.75; }
    section.main .action {
      background-color: rgba(255, 255, 255, 0.25);
      border: 1.5px solid rgba(255, 255, 255, 0.75);
      border-radius: 4px;
      padding: 12px;
      min-width: 42%; }
      section.main .action .string {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.75); }
        section.main .action .string .selected {
          color: #fff;
          margin-bottom: 3px;
          -webkit-animation-duration: 0.75s;
                  animation-duration: 0.75s;
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out; }
@-webkit-keyframes chosenText {
  0%, 100% {
    text-shadow: none; }
  50% {
    text-shadow: 0 0 5px currentcolor; } }
@keyframes chosenText {
  0%, 100% {
    text-shadow: none; }
  50% {
    text-shadow: 0 0 5px currentcolor; } }
@-webkit-keyframes chosenBorder {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  50%, 100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes chosenBorder {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  50%, 100% {
    opacity: 1;
    transform: translateY(0); } }
          section.main .action .string .selected::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: inherit;
            content: "";
            bottom: -3px;
            border-bottom: 3px solid;
            opacity: 0; }
          section.main .action .string .selected, section.main .action .string .selected::before {
            -webkit-animation-duration: 0.5s;
                    animation-duration: 0.5s;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards; }
          section.main .action .string .selected.chosen {
            -webkit-animation-name: chosenText;
                    animation-name: chosenText; }
            section.main .action .string .selected.chosen::before {
              -webkit-animation-name: chosenBorder;
                      animation-name: chosenBorder; }
          section.main .action .string .selected:not(.chosen)::before {
            border-color: transparent; }
          section.main .action .string .selected.bl1::before {
            color: #dc143c; }
          section.main .action .string .selected.bl2::before {
            color: #ff4500; }
          section.main .action .string .selected.tps::before {
            color: #1e90ff; }
          section.main .action .string .selected.bl3::before {
            color: #ffa900; }
      section.main .action .link-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-4px + 12px);
        font-size: 1.25em; }
        section.main .action .link-container .button {
          flex: 1;
          margin: 4px;
          min-width: 6.5em; }
  section:not(.main) {
    min-height: calc(75vh + 2px - 64px); }
  section.secondary:nth-of-type(odd) .content-wrapper {
    align-items: flex-end;
    text-align: end; }
  section.secondary .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
  section.secondary .intro {
    font-size: 1.25em;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 3px solid;
    max-width: 25em; }
    section.secondary.bl1 .intro {
      border-color: #dc143c; }
    section.secondary.bl2 .intro {
      border-color: #ff4500; }
    section.secondary.tps .intro {
      border-color: #1e90ff; }
    section.secondary.bl3 .intro {
      border-color: #ffa900; }
  section.secondary .quote {
    color: rgba(255, 255, 255, 0.75); }
    section.secondary .quote::before, section.secondary .quote::after {
      opacity: 0.75;
      content: '"'; }
  section.secondary .button {
    font-size: 1.5em; }
  section.faq {
    border-color: #f00;
    padding-top: 32px; }
    section.faq .content-wrapper {
      display: flex;
      flex-direction: column; }
    section.faq h2.title {
      margin-bottom: 16px; }
    section.faq .link {
      padding: 8px;
      margin-top: 16px;
      background-color: rgba(255, 255, 255, 0.25);
      border: 1.5px solid rgba(255, 255, 255, 0.75);
      border-radius: 4px;
      text-align: center; }
    section.faq .dropdown-panel {
      text-shadow: none; }
  section .content-wrapper {
    height: 100%;
    width: 100%; }
    @media screen and (max-width: 499px) {
      section .content-wrapper {
        padding: 32px 16px; } }
    @media screen and (min-width: 500px) {
      section .content-wrapper {
        padding: 32px; } }
  section a.button {
    background-color: rgba(255, 255, 255, 0.15);
    overflow: hidden;
    padding: 10px 32px; }
    section a.button::before {
      border: none; }
    section a.button::after {
      border: 1.5px solid rgba(255, 255, 255, 0.5); }
    section a.button.bl1::before {
      background-color: #dc143c; }
    section a.button.bl2::before {
      background-color: #ff4500; }
    section a.button.tps::before {
      background-color: #1e90ff; }
    section a.button.bl3::before {
      background-color: #ffa900; }
    section a.button:not(:focus):not(:hover):not([disabled])::before, section a.button[disabled]::before {
      opacity: 0; }
    section a.button:not(:focus):not(:hover):not([disabled])::after, section a.button[disabled]::after {
      opacity: 1; }
    section a.button:not([disabled]):hover::before, section a.button:not([disabled]):focus::before {
      opacity: 1; }
    section a.button:not([disabled]):hover::after, section a.button:not([disabled]):focus::after {
      opacity: 0; }
    section a.button:not([disabled]):active {
      opacity: 0.75; }
  section .flags {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
    section .flags .flag {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 3em;
      width: 6em;
      margin: 0 4px;
      padding: 0.5em;
      font-size: 0.5em;
      border: 1.5px solid rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
      -webkit-animation: flagFadeIn 0.5s linear forwards;
              animation: flagFadeIn 0.5s linear forwards;
      opacity: 0; }
@-webkit-keyframes flagFadeIn {
  0% {
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
  100% {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); } }
@keyframes flagFadeIn {
  0% {
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
  100% {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); } }
      section .flags .flag:first-child {
        transform: rotate(135deg) translate(1.25em, 2.25em); }
        section .flags .flag:first-child .fas {
          transform: rotate(-135deg); }
      section .flags .flag:not(:first-child) {
        transform: rotate(-135deg) translate(-1.25em, 2.25em); }
        section .flags .flag:not(:first-child) .fas {
          transform: rotate(135deg); }
      section .flags .flag.new {
        background-color: #0057ff; }
      section .flags .flag.exp {
        background-color: #ff8c00; }
