/*********************************
  SHiFT Page Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Mixins ***/
/*** Media Queries ***/
@media screen and (max-width: 379px) {
  main .feed .panel .header .top {
    font-size: 1.25em; }
  main .feed .panel .body {
    grid-template-rows: repeat(7, auto); }
    main .feed .panel .body .background {
      grid-row: 1 / span 7; }
    main .feed .panel .body .section {
      grid-column: 1 / span 2; }
      main .feed .panel .body .section.rel {
        grid-row: 1; }
      main .feed .panel .body .section.exp {
        grid-row: 2; }
      main .feed .panel .body .section.src {
        grid-row: 3; }
      main .feed .panel .body .section.pc {
        grid-row: 5; }
      main .feed .panel .body .section.xbox {
        grid-row: 6; }
      main .feed .panel .body .section.ps {
        grid-row: 7; }
    main .feed .panel .body .separator {
      grid-row: 4; } }
@media screen and (min-width: 380px) {
  main .feed .panel .header .top {
    font-size: 1.5em; }
  main .feed .panel .body {
    grid-template-rows: repeat(6, auto); }
    main .feed .panel .body .background {
      grid-row: 1 / span 6; }
    main .feed .panel .body .section.rel {
      grid-column: 1; }
    main .feed .panel .body .section.exp {
      grid-column: 2; }
    main .feed .panel .body .section.src, main .feed .panel .body .section.pc, main .feed .panel .body .section.xbox, main .feed .panel .body .section.ps, main .feed .panel .body .section.report {
      grid-column: 1 / span 2; }
    main .feed .panel .body .section.rel, main .feed .panel .body .section.exp {
      grid-row: 1; }
    main .feed .panel .body .section.src {
      grid-row: 2; }
    main .feed .panel .body .section.pc {
      grid-row: 4; }
    main .feed .panel .body .section.xbox {
      grid-row: 5; }
    main .feed .panel .body .section.ps {
      grid-row: 6; }
    main .feed .panel .body .separator {
      grid-row: 3; } }
@media screen and (max-width: 549px) {
  main .overlay .error {
    font-size: 1.75em; }

  .feed .panel .body .background {
    font-size: 15em; } }
@media screen and (min-width: 550px) {
  main .overlay .error {
    font-size: 2em; }
  main .feed .panel .body .background {
    font-size: 20em; } }
/*** Animations ***/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes progressClimb {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@keyframes relPulseBadge {
  66.6%, 100% {
    box-shadow: none; }
  83.3% {
    box-shadow: 0 0 1.5em #0057ff; } }
@keyframes expPulseBadge {
  66.6%, 100% {
    box-shadow: none; }
  83.3% {
    box-shadow: 0 0 1.5em #ff8c00; } }
@keyframes copiedToClipboard {
  0%, 50%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.8); }
  75% {
    transform: scale(1.2); } }
@keyframes sortButtonPop {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }
/*** Style Declarations ***/
main {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden; }
  main * {
    opacity: 1;
    transition: opacity 0.2s ease-out; }
  main * {
    display: block; }
  main .overlay {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-out; }
    main .overlay[hidden], main .overlay > *[hidden] {
      display: inherit; }
    main .overlay:not([hidden]) {
      opacity: 1;
      z-index: 1; }
    main .overlay[hidden] {
      opacity: 0;
      z-index: -1; }
    main .overlay .spinner, main .overlay .error {
      position: absolute; }
    main .overlay .spinner {
      transform: scale(1.5);
      transition: opacity 0.2s ease-out; }
      main .overlay .spinner:not([hidden]) {
        opacity: 1; }
      main .overlay .spinner[hidden] {
        opacity: 0; }
    main .overlay .error {
      text-align: center;
      font-weight: 600;
      transition: opacity 0.2s ease-out; }
      main .overlay .error:not([hidden]) {
        opacity: 0.25; }
      main .overlay .error[hidden] {
        opacity: 0; }
      main .overlay .error .fas {
        font-size: 2em;
        padding: 16px 0; }
  main .shift-header {
    background-color: #1d3f60;
    border-bottom: 2px solid #060c12;
    width: 100%;
    font-size: 1.25em; }
    main .shift-header .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 16px; }
      main .shift-header .content-wrapper .section {
        display: flex;
        align-items: center;
        justify-content: center; }
        main .shift-header .content-wrapper .section.counters .badge {
          display: flex;
          height: 1.7em;
          width: 3.4em;
          font-size: 1em;
          border-radius: 4px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          margin-right: 6px;
          overflow: hidden;
          transition: opacity 0.2s ease-out;
          cursor: default; }
          main .shift-header .content-wrapper .section.counters .badge.total {
            background-color: #808080; }
          main .shift-header .content-wrapper .section.counters .badge.new {
            background-color: #0057ff; }
          main .shift-header .content-wrapper .section.counters .badge.exp {
            background-color: #ff8c00; }
          main .shift-header .content-wrapper .section.counters .badge.inactive {
            opacity: 0.5; }
          main .shift-header .content-wrapper .section.counters .badge .count, main .shift-header .content-wrapper .section.counters .badge .fas {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1; }
          main .shift-header .content-wrapper .section.counters .badge .count {
            background-color: rgba(0, 0, 0, 0.2);
            font-weight: 600; }
          main .shift-header .content-wrapper .section.counters .badge .fas {
            font-size: 0.9em; }
        main .shift-header .content-wrapper .section.sort button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.5em;
          height: 1.5em;
          font-size: 1.25em;
          padding: 0.25em;
          line-height: 1;
          border-radius: 4px;
          overflow: hidden;
          transition: opacity 0.2s ease-out; }
          main .shift-header .content-wrapper .section.sort button:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #fff;
            transition: opacity 0.2s ease-out; }
          main .shift-header .content-wrapper .section.sort button.animated {
            animation: sortButtonPop 0.4s linear forwards; }
          main .shift-header .content-wrapper .section.sort button:not(:hover):not(:focus):before {
            opacity: 0.2; }
          main .shift-header .content-wrapper .section.sort button:hover:before, main .shift-header .content-wrapper .section.sort button:focus:before {
            opacity: 0.4; }
          main .shift-header .content-wrapper .section.sort button:active {
            opacity: 0.75; }
          main .shift-header .content-wrapper .section.sort button .fas {
            position: relative; }
  main .feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px 64px; }
    main .feed .panel {
      position: relative;
      color: inherit;
      background-color: #1d3f60;
      border: 2px solid;
      border-radius: 4px;
      opacity: 0;
      overflow: hidden;
      animation: fadeIn 0.4s linear forwards; }
      main .feed .panel[data-expanded="false"] .header .top .toggle .fas {
        transform: rotate(0deg); }
      main .feed .panel[data-expanded="false"] .body {
        display: none; }
      main .feed .panel[data-expanded="true"] .header .top .toggle .fas {
        transform: rotate(180deg); }
      main .feed .panel[data-expanded="true"] .body {
        display: grid; }
      main .feed .panel:not(.new):not(.exp) {
        border-color: #060c12; }
      main .feed .panel.new {
        border-color: #0057ff; }
      main .feed .panel.exp {
        border-color: #ff8c00; }
      main .feed .panel:not(:last-child) {
        margin-bottom: 1.5em; }
      main .feed .panel .flag {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 2.5em;
        width: 5.5em;
        font-size: 1.1em;
        padding: 8px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        transform: rotate(-45deg) translate(-1em, -1.55em); }
        main .feed .panel .flag.new {
          background-color: #0057ff; }
        main .feed .panel .flag.exp {
          background-color: #ff8c00; }
        main .feed .panel .flag .fas {
          position: relative;
          top: 2px;
          left: -2px;
          transform: rotate(45deg); }
      main .feed .panel .header .top {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 8px; }
        main .feed .panel .header .top > .fas, main .feed .panel .header .top .title, main .feed .panel .header .top .toggle {
          grid-row: 1;
          padding: 8px; }
        main .feed .panel .header .top > .fas, main .feed .panel .header .top .title {
          align-self: center; }
        main .feed .panel .header .top > .fas {
          grid-column: 1;
          font-size: 1.5em; }
        main .feed .panel .header .top .title {
          grid-column: 2; }
          main .feed .panel .header .top .title .reward {
            font-weight: 600; }
            main .feed .panel .header .top .title .reward:not(.long) {
              font-size: 1em; }
            main .feed .panel .header .top .title .reward.long {
              font-size: 0.85em; }
          main .feed .panel .header .top .title .description {
            opacity: .5;
            font-size: 0.75em; }
        main .feed .panel .header .top .toggle {
          display: flex;
          align-items: center;
          justify-content: center;
          grid-column: 3;
          font-size: 1em;
          height: 2em;
          width: 2em;
          transition: opacity 0.2s ease-out; }
          main .feed .panel .header .top .toggle:not(:hover):not(:focus):not([hidden]) {
            opacity: 0.75; }
          main .feed .panel .header .top .toggle:hover, main .feed .panel .header .top .toggle:focus {
            opacity: 1; }
          main .feed .panel .header .top .toggle .fas {
            position: relative;
            transition: transform 0.2s ease-out; }
      main .feed .panel .header .bottom {
        padding: 0 8px 8px 8px; }
        main .feed .panel .header .bottom .progress-bar {
          position: relative;
          height: 9px;
          padding: 0;
          margin: 0 8px 8px 8px;
          background-color: rgba(0, 0, 0, 0.4);
          border: 1px solid rgba(0, 0, 0, 0.4);
          border-radius: 4px;
          overflow: hidden; }
          main .feed .panel .header .bottom .progress-bar .progress {
            position: absolute;
            display: inherit;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            box-shadow: 0 0 1em;
            border-radius: 4px;
            transform: translateX(-100%);
            animation: progressClimb 1.2s 0.4s linear forwards; }
            body[data-theme="main"] main .feed .panel .header .bottom .progress-bar .progress {
              color: #f00; }
            body[data-theme="bl2"] main .feed .panel .header .bottom .progress-bar .progress {
              color: #ff4500; }
            body[data-theme="tps"] main .feed .panel .header .bottom .progress-bar .progress {
              color: #1e90ff; }
            body[data-theme="main"] main .feed .panel .header .bottom .progress-bar .progress {
              background-color: #f00; }
            body[data-theme="bl2"] main .feed .panel .header .bottom .progress-bar .progress {
              background-color: #ff4500; }
            body[data-theme="tps"] main .feed .panel .header .bottom .progress-bar .progress {
              background-color: #1e90ff; }
      main .feed .panel .body {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 8px 8px;
        background-color: rgba(0, 0, 0, 0.2);
        overflow: hidden; }
        main .feed .panel .body .background {
          display: flex;
          align-items: center;
          justify-content: center;
          grid-column: 1 / span 2;
          color: #000;
          opacity: 0.1; }
        main .feed .panel .body .section {
          position: relative;
          display: grid;
          grid-template-rows: auto 1fr;
          padding: 8px; }
          main .feed .panel .body .section.exp .content.inactive {
            color: rgba(255, 255, 255, 0.5); }
          main .feed .panel .body .section.src .content {
            white-space: nowrap;
            text-overflow: ellipsis; }
          main .feed .panel .body .section .title {
            grid-column: 1;
            grid-row: 1;
            font-weight: 600;
            padding: 8px 8px 8px 0; }
          main .feed .panel .body .section .content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            grid-column: 1;
            grid-row: 2;
            color: inherit;
            border: inherit;
            line-height: inherit;
            font-size: inherit;
            border-radius: 4px;
            padding: 8px;
            background-color: rgba(0, 0, 0, 0.25);
            overflow: hidden; }
            main .feed .panel .body .section .content:not(:hover) .copy {
              opacity: 0; }
            main .feed .panel .body .section .content:hover .copy {
              opacity: 1; }
            main .feed .panel .body .section .content a {
              color: inherit;
              display: inline-flex;
              align-items: center;
              opacity: 1;
              text-decoration: none;
              width: 100%; }
              main .feed .panel .body .section .content a:not(:hover):not(:focus) .text {
                text-decoration: none; }
              main .feed .panel .body .section .content a:hover .text, main .feed .panel .body .section .content a:focus .text {
                text-decoration: underline; }
              main .feed .panel .body .section .content a:active {
                opacity: 0.75; }
              main .feed .panel .body .section .content a .fas {
                padding-right: 8px; }
              main .feed .panel .body .section .content a .text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis; }
            main .feed .panel .body .section .content input {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              transform: translateY(-100%);
              opacity: 0; }
            main .feed .panel .body .section .content .copy {
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 15%;
              font-size: inherit;
              padding: 8px;
              transition: opacity 0.2s ease-out; }
              main .feed .panel .body .section .content .copy:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                background-color: #fff;
                transition: opacity 0.2s ease-out; }
              main .feed .panel .body .section .content .copy.animated .fas {
                animation: copiedToClipboard 0.5s linear; }
              main .feed .panel .body .section .content .copy:not(:hover):not(:focus):before {
                opacity: 0.3; }
              main .feed .panel .body .section .content .copy:hover:before, main .feed .panel .body .section .content .copy:focus:before {
                opacity: 0.5; }
              main .feed .panel .body .section .content .copy:active {
                opacity: 0.75; }
        main .feed .panel .body .separator {
          grid-column: 1 / span 2;
          color: #000;
          border-bottom: 3px solid;
          opacity: 0.25;
          margin: 16px 8px 4px 8px; }
