/*********************************
  SHiFT Page Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Style Declarations ***/
.shift-header, .shift-header *, .feed, .feed * {
  opacity: 1; }

.shift-header {
  background-color: #224365;
  border-bottom: 2px solid #020406;
  width: 100%;
  font-size: 1.25em; }
  .shift-header .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px; }
  .shift-header .section {
    display: flex;
    align-items: center;
    justify-content: center; }
  .shift-header .badge {
    display: flex;
    height: 1.7em;
    width: 3.4em;
    font-size: 1em;
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    margin-right: 6px;
    overflow: hidden;
    cursor: default; }
    .shift-header .badge.total {
      background-color: #808080; }
    .shift-header .badge.new {
      background-color: #0057ff; }
    .shift-header .badge.exp {
      background-color: #ff8c00; }
    .shift-header .badge.new::before, .shift-header .badge.exp::before {
      background-color: #000; }
    .shift-header .badge.new::after, .shift-header .badge.exp::after {
      border: 2px solid;
      border-radius: 4px; }
    .shift-header .badge.new::before, .shift-header .badge.new::after, .shift-header .badge.exp::before, .shift-header .badge.exp::after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
      content: ""; }
    .shift-header .badge.new:not(.inactive)[aria-pressed="false"]::after, .shift-header .badge.exp:not(.inactive)[aria-pressed="false"]::after {
      opacity: 0; }
    .shift-header .badge.new:not(.inactive)[aria-pressed="true"]::after, .shift-header .badge.exp:not(.inactive)[aria-pressed="true"]::after {
      opacity: 1; }
    .shift-header .badge.new:not(.inactive):not(:hover):not(:focus)::before, .shift-header .badge.exp:not(.inactive):not(:hover):not(:focus)::before {
      opacity: 0; }
    .shift-header .badge.new:not(.inactive):hover, .shift-header .badge.new:not(.inactive):focus, .shift-header .badge.exp:not(.inactive):hover, .shift-header .badge.exp:not(.inactive):focus {
      cursor: pointer; }
      .shift-header .badge.new:not(.inactive):hover::before, .shift-header .badge.new:not(.inactive):focus::before, .shift-header .badge.exp:not(.inactive):hover::before, .shift-header .badge.exp:not(.inactive):focus::before {
        opacity: 0.25; }
    .shift-header .badge.new:not(.inactive):active, .shift-header .badge.exp:not(.inactive):active {
      opacity: 0.75; }
    .shift-header .badge.new.inactive, .shift-header .badge.exp.inactive {
      opacity: 0.5; }
      .shift-header .badge.new.inactive::before, .shift-header .badge.new.inactive::after, .shift-header .badge.exp.inactive::before, .shift-header .badge.exp.inactive::after {
        opacity: 0; }
    .shift-header .badge .count {
      background-color: rgba(0, 0, 0, 0.2); }
    .shift-header .badge .fas {
      font-size: 0.9em; }
    .shift-header .badge .count, .shift-header .badge .fas {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: inherit; }
  .shift-header .sort > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    font-size: 1.25em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 4px;
    overflow: hidden; }
    .shift-header .sort > button::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
      content: "";
      background-color: #fff; }
    .shift-header .sort > button[data-pressed="false"]:not(:hover):not(:focus)::before {
      opacity: 0.2; }
    .shift-header .sort > button[data-pressed="false"]:hover::before, .shift-header .sort > button[data-pressed="false"]:focus::before {
      opacity: 0.4; }
    .shift-header .sort > button[data-pressed="false"]:active {
      opacity: 0.75; }
    .shift-header .sort > button[data-pressed="true"] {
      opacity: 0.75; }
      .shift-header .sort > button[data-pressed="true"]::before {
        opacity: 0.4; }

main.shift-code-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px; }

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background-color: #0f1d2c; }
  .overlay[hidden], .overlay > [hidden] {
    display: flex; }
  .overlay:not([hidden]) {
    opacity: 1;
    z-index: 1; }
  .overlay[hidden] {
    opacity: 0;
    z-index: -1; }
  .overlay .spinner {
    transform: scale(1.5); }
    .overlay .spinner:not([hidden]) {
      opacity: 1; }
    .overlay .spinner[hidden] {
      opacity: 0; }
  .overlay .error {
    text-align: center; }
    .overlay .error:not([hidden]) {
      opacity: 0.25; }
    .overlay .error[hidden] {
      opacity: 0; }
    .overlay .error .fas {
      font-size: 2em;
      padding: 16px 0; }
    @media screen and (max-width: 549px) {
      .overlay .error {
        font-size: 1.75em; } }
    @media screen and (min-width: 550px) {
      .overlay .error {
        font-size: 2em; } }
  .overlay .spinner, .overlay .error {
    position: absolute; }

.dropdown-panel.shift-code {
  opacity: 0;
  margin: 8px 0;
  animation: panelFadeIn 0.4s linear forwards; }

@keyframes panelFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .dropdown-panel.shift-code[data-filtered="true"]::before, .dropdown-panel.shift-code[data-filtered="true"] .header {
    opacity: 0.5; }
  .dropdown-panel.shift-code.new::before {
    border-color: #0057ff; }
  .dropdown-panel.shift-code.exp::before {
    border-color: #ff8c00; }
  .dropdown-panel.shift-code.new.exp::before {
    border-top-color: #0057ff;
    border-left-color: #0057ff;
    border-bottom-color: #ff8c00;
    border-right-color: #ff8c00; }
  @media screen and (min-width: 435px) {
    .dropdown-panel.shift-code .header .title {
      font-size: 1.3em; } }
  .dropdown-panel.shift-code .header .icon {
    font-size: 1.5em; }
  .dropdown-panel.shift-code .header .labels {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.65em;
    margin: 2px -2px -2px;
    width: calc(100% + 1.25em + 24px);
    opacity: 1; }
    .dropdown-panel.shift-code .header .labels .label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      padding: 4px 8px;
      border: 1.5px solid;
      border-radius: 4px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
      line-height: 1; }
      .dropdown-panel.shift-code .header .labels .label::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        content: "";
        border-radius: 0;
        opacity: 0.25; }
      .dropdown-panel.shift-code .header .labels .label.description {
        border-color: #fff; }
        .dropdown-panel.shift-code .header .labels .label.description::before {
          background-color: #fff; }
      .dropdown-panel.shift-code .header .labels .label.new {
        border-color: #0057ff; }
        .dropdown-panel.shift-code .header .labels .label.new::before {
          background-color: #0057ff; }
      .dropdown-panel.shift-code .header .labels .label.exp {
        border-color: #ff8c00; }
        .dropdown-panel.shift-code .header .labels .label.exp::before {
          background-color: #ff8c00; }
  .dropdown-panel.shift-code .header .full-width {
    padding: 8px; }
  .dropdown-panel.shift-code .header .progress-bar {
    height: 9px;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.25);
    overflow: hidden; }
    .dropdown-panel.shift-code .header .progress-bar.inactive {
      opacity: 0.5; }
  .dropdown-panel.shift-code .header .progress {
    box-shadow: 0 0 2.5em;
    width: 0;
    left: 0;
    transform: translateX(-100%);
    animation: progressClimb 1.2s 0.4s ease-out forwards; }

@keyframes progressClimb {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
    body[data-theme="main"] .dropdown-panel.shift-code .header .progress {
      color: #f00; }
    body[data-theme="bl1"] .dropdown-panel.shift-code .header .progress {
      color: #dc143c; }
    body[data-theme="bl2"] .dropdown-panel.shift-code .header .progress {
      color: #ff4500; }
    body[data-theme="tps"] .dropdown-panel.shift-code .header .progress {
      color: #1e90ff; }
    body[data-theme="bl3"] .dropdown-panel.shift-code .header .progress {
      color: #ffa900; }
    body[data-theme="main"] .dropdown-panel.shift-code .header .progress {
      background-color: #f00; }
    body[data-theme="bl1"] .dropdown-panel.shift-code .header .progress {
      background-color: #dc143c; }
    body[data-theme="bl2"] .dropdown-panel.shift-code .header .progress {
      background-color: #ff4500; }
    body[data-theme="tps"] .dropdown-panel.shift-code .header .progress {
      background-color: #1e90ff; }
    body[data-theme="bl3"] .dropdown-panel.shift-code .header .progress {
      background-color: #ffa900; }
  .dropdown-panel.shift-code .body {
    grid-template-columns: repeat(2, 1fr);
    padding: 8px; }
    .dropdown-panel[data-expanded="true"] .body {
      display: grid; }
    .dropdown-panel.shift-code .body .section {
      padding: 8px; }
      .dropdown-panel.shift-code .body .section:not(.can-split) {
        grid-column: 1 / span 2; }
      @media screen and (max-width: 380px) {
        .dropdown-panel.shift-code .body .section {
          grid-column: 1 / span 2; } }
    .dropdown-panel.shift-code .body .content {
      margin-top: 8px;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.2);
      word-wrap: break-word;
      overflow: hidden; }
      .dropdown-panel.shift-code .body .content.inactive {
        color: rgba(255, 255, 255, 0.5); }
      .dropdown-panel.shift-code .body .content .day {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #1c3652;
        border-radius: 4px;
        margin-top: 0;
        transition-duration: 0.35s;
        pointer-events: none; }
        .dropdown-panel.shift-code .body .content .day::before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: inherit;
          content: "";
          background-color: rgba(0, 0, 0, 0.2); }
      .dropdown-panel.shift-code .body .content:not(.code) {
        padding: 8px; }
      .dropdown-panel.shift-code .body .content.code {
        display: grid;
        grid-template-columns: 1fr auto; }
      .dropdown-panel.shift-code .body .content:not(:hover):not(:focus) .day {
        opacity: 1; }
      .dropdown-panel.shift-code .body .content:hover .day, .dropdown-panel.shift-code .body .content:focus .day {
        opacity: 0; }
      .dropdown-panel.shift-code .body .content a {
        word-break: break-all; }
      .dropdown-panel.shift-code .body .content ul {
        margin-left: 8px; }
      .dropdown-panel.shift-code .body .content input {
        display: block;
        position: absolute;
        transform: translateY(calc(-100% - 8px));
        width: 100%; }
      .dropdown-panel.shift-code .body .content .display {
        padding: 8px; }
      .dropdown-panel.shift-code .body .content .copy {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        font-size: 1.1em;
        padding: 8px 32px;
        background-color: #162b42; }
        .dropdown-panel.shift-code .body .content .copy::before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: inherit;
          content: "";
          background-color: #fff; }
        .dropdown-panel .section .content:not(:hover):not(:focus) .copy:not(:focus) {
          opacity: 0; }
        .dropdown-panel .section .content:hover .copy, .dropdown-panel .section .content:focus .copy {
          opacity: 1; }
        .dropdown-panel.shift-code .body .content .copy:not(:hover):not(:focus)::before {
          opacity: 0.2; }
        .dropdown-panel.shift-code .body .content .copy:hover::before, .dropdown-panel.shift-code .body .content .copy:focus::before {
          opacity: 0.4; }
        .dropdown-panel.shift-code .body .content .copy:active {
          opacity: 0.75; }
        .dropdown-panel.shift-code .body .content .copy .fas {
          height: 1em;
          width: 1em; }
    .dropdown-panel.shift-code .body .separator {
      grid-column: 1 / span 2;
      margin: 8px;
      height: 4px;
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 4px; }
    .dropdown-panel.shift-code .body .background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      opacity: 0.1;
      overflow: hidden; }
      @media screen and (max-width: 499px) {
        .dropdown-panel.shift-code .body .background {
          font-size: 16em; } }
      @media screen and (min-width: 500px) {
        .dropdown-panel.shift-code .body .background {
          font-size: 22em; } }

.pager {
  margin-top: auto; }
