/*********************************
  Updates Page Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Style Declarations ***/
.updates-header, .updates-header *, main, main * {
  opacity: 1; }

.updates-header {
  background-color: #1d3f60;
  border-bottom: 2px solid #060c12;
  width: 100%;
  font-size: 1.25em; }
  .updates-header .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px; }
  .updates-header .section {
    display: flex;
    align-items: center;
    justify-content: center; }
    .updates-header .section.current {
      font-size: 0.9em; }
      .updates-header .section.current[data-hidden="true"] {
        opacity: 0; }
      .updates-header .section.current:not([data-hidden="true"]) {
        opacity: 1; }
      .updates-header .section.current .title {
        opacity: 0.75; }
      .updates-header .section.current .currentver:not(:hover):not(:focus) {
        opacity: 0.75; }
      .updates-header .section.current .currentver:hover, .updates-header .section.current .currentver:focus {
        opacity: 1; }
      .updates-header .section.current .currentver:active {
        text-decoration: underline; }
    .updates-header .section.jump > button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      padding: 0.3em 0.6em;
      line-height: 1;
      border-radius: 4px;
      overflow: hidden; }
      .updates-header .section.jump > button::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        background-color: #fff; }
      .updates-header .section.jump > button[data-pressed="false"]:not(:hover):not(:focus)::before {
        opacity: 0.2; }
      .updates-header .section.jump > button[data-pressed="false"]:hover::before, .updates-header .section.jump > button[data-pressed="false"]:focus::before {
        opacity: 0.4; }
      .updates-header .section.jump > button[data-pressed="false"]:active {
        opacity: 0.75; }
      .updates-header .section.jump > button[data-pressed="true"] {
        opacity: 0.75; }
        .updates-header .section.jump > button[data-pressed="true"]::before {
          opacity: 0.4; }
    .updates-header .section.jump .dropdown {
      position: absolute;
      flex-direction: column;
      height: 100%;
      width: 100%;
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      z-index: 1; }
      .updates-header .section.jump .dropdown[hidden] {
        display: none; }
      .updates-header .section.jump .dropdown:not([hidden]) {
        display: flex; }
      .updates-header .section.jump .dropdown[data-expanded="false"] {
        opacity: 0; }
      .updates-header .section.jump .dropdown[data-expanded="true"] {
        opacity: 1; }
      .updates-header .section.jump .dropdown .arrow {
        position: absolute;
        height: 1rem;
        width: 1rem;
        top: 0;
        -webkit-transform: translateY(calc(-15% + 0.75em)) rotate(45deg);
                transform: translateY(calc(-15% + 0.75em)) rotate(45deg);
        align-self: center;
        background: linear-gradient(to bottom right, #fff 0.4em, transparent 0.4em);
        z-index: 1; }
      .updates-header .section.jump .dropdown .panel {
        position: absolute;
        top: 0;
        -webkit-transform: translateY(0.98em);
                transform: translateY(0.98em);
        align-self: flex-end;
        font-size: 1.1rem;
        max-height: 12.5em;
        white-space: nowrap;
        border-radius: 4px;
        color: #1d3f60;
        background-color: #fff;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
        overflow-x: auto;
        overflow-y: scroll; }
      .updates-header .section.jump .dropdown .description {
        display: block;
        opacity: 0.35; }
      .updates-header .section.jump .dropdown li a {
        display: inline-block;
        width: 100%;
        font-size: 0.9em;
        text-align: left;
        cursor: pointer; }
        .updates-header .section.jump .dropdown li a::before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: "";
          background-color: #000; }
        .updates-header .section.jump .dropdown li a:not(:hover):not(:focus) {
          opacity: 0.8; }
          .updates-header .section.jump .dropdown li a:not(:hover):not(:focus)::before {
            opacity: 0; }
        .updates-header .section.jump .dropdown li a:hover, .updates-header .section.jump .dropdown li a:focus {
          opacity: 1; }
          .updates-header .section.jump .dropdown li a:hover::before, .updates-header .section.jump .dropdown li a:focus::before {
            opacity: 0.15; }
        .updates-header .section.jump .dropdown li a:active::before {
          opacity: 0.3; }
      @media screen and (max-width: 549px) {
        .updates-header .section.jump .dropdown .description, .updates-header .section.jump .dropdown li a {
          padding: 6px 18px 6px 9px; } }
      @media screen and (min-width: 550px) {
        .updates-header .section.jump .dropdown .description, .updates-header .section.jump .dropdown li a {
          padding: 4px 16px 4px 8px; } }

main {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 64px;
  overflow: hidden; }
  main .panel {
    color: inherit;
    border-radius: 4px;
    opacity: 0;
    -webkit-animation: panelFadeIn 0.4s linear forwards;
            animation: panelFadeIn 0.4s linear forwards;
    overflow: hidden; }
@-webkit-keyframes panelFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes panelFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    main .panel::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      background-color: #1d3f60;
      border: 2px solid #060c12;
      border-radius: 4px; }
    main .panel:not(:last-child) {
      margin-bottom: 1.5em; }
    main .panel .hashTargetOverlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      border: 2px solid;
      border-radius: 4px;
      opacity: 0; }
@-webkit-keyframes panelHashTargeted {
  0%, 50%, 100% {
    opacity: 0.25; }
  25%, 75% {
    opacity: 1; } }
@keyframes panelHashTargeted {
  0%, 50%, 100% {
    opacity: 0.25; }
  25%, 75% {
    opacity: 1; } }
@-webkit-keyframes panelHashTargetFade {
  0% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }
@keyframes panelHashTargetFade {
  0% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }
      main .panel[data-hashtarget-highlighted="true"] .hashTargetOverlay {
        -webkit-animation: panelHashTargeted 2.5s linear infinite;
                animation: panelHashTargeted 2.5s linear infinite; }
      main .panel[data-hashtarget-highlighted="false"] .hashTargetOverlay {
        -webkit-animation: panelHashTargetFade 0.75s linear;
                animation: panelHashTargetFade 0.75s linear; }
    main .panel .header {
      display: grid;
      grid-template-columns: 2.55em 1fr auto;
      font-size: 1.5em;
      padding: 8px; }
      main .panel .header > .icon {
        display: inline-flex;
        justify-content: center;
        grid-column: 1;
        font-size: 1.5em; }
      main .panel .header .title {
        grid-column: 2; }
        @media screen and (max-width: 449px) {
          main .panel .header .title {
            font-size: 0.9em; } }
        @media screen and (min-width: 450px) {
          main .panel .header .title {
            font-size: 1em; } }
      main .panel .header .version {
        font-size: 1em; }
      main .panel .header .info {
        display: flex;
        opacity: 0.5;
        font-size: 0.75em; }
        @media screen and (max-width: 449px) {
          main .panel .header .info {
            flex-direction: column;
            align-items: flex-start; } }
        @media screen and (min-width: 450px) {
          main .panel .header .info {
            flex-direction: row;
            align-items: center; } }
      main .panel .header .separator {
        font-size: 1.5em;
        padding: 0 0.35em;
        line-height: 0; }
      @media screen and (max-width: 449px) {
        main .panel .header .date, main .panel .header .type {
          display: list-item;
          list-style: disc inside; }
        main .panel .header .separator {
          display: none; } }
      @media screen and (min-width: 450px) {
        main .panel .header .date, main .panel .header .type, main .panel .header .separator {
          display: inline; } }
      main .panel .header .toggle {
        grid-column: 3;
        font-size: 1em;
        height: 2em;
        width: 2em; }
        main .panel .header .toggle:not(:hover):not(:focus):not([hidden]) {
          opacity: 0.75; }
        main .panel .header .toggle:hover, main .panel .header .toggle:focus {
          opacity: 1; }
        main .panel[data-expanded="false"] .header .toggle {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg); }
        main .panel[data-expanded="true"] .header .toggle {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
      main .panel .header > .icon, main .panel .header .title, main .panel .header .toggle {
        grid-row: 1;
        padding: 8px; }
      main .panel .header > .icon, main .panel .header .title {
        align-self: center; }
    main .panel .body {
      background-color: rgba(0, 0, 0, 0.2);
      margin: 0 2px 2px;
      padding: 16px;
      overflow: hidden; }
      main .panel[data-expanded="false"] .body {
        display: none; }
      main .panel[data-expanded="true"] .body {
        display: grid; }
      main .panel .body h3 {
        font-size: 1.25em; }
        main .panel .body h3:not(:first-child) {
          margin-top: 8px; }
