/*********************************
  Footer Styles
*********************************/

/*** Imports ***/
@import "../partials/_globals";

/*** Variables ***/
$footerIdleOpacity: 0.75;

/*** Animations ***/
@keyframes creditAnimation1 {
  20%, 50%, 80% { transform: rotate(0deg); }
  35%           { transform: rotate(-15deg); }
  65%           { transform: rotate(15deg); }
}
@keyframes creditAnimation2 {
  0%, 60%, 100% { transform: scale(1); }
  25%           { transform: scale(0.95); }
  40%           { transform: scale(1.05); }
  75%           { transform: scale(1.1); }
}

/*** Media Queries ***/
@media screen and (max-width: 539px) {
  footer .content-wrapper {
    .social, .return  { grid-row: 2; }
    .social           { grid-column: 1 / span 2; }
    .info             { grid-column: 1 / span 3; }
    .return           { grid-column: 2 / span 3; }
  }
}
@media screen and (min-width: 540px) {
  footer .content-wrapper {
    .social, .return  { grid-row: 1; }
    .social           { grid-column: 1; }
    .info             { grid-column: 2; }
    .return           { grid-column: 3; }
  }
}

/*** Style Declarations ***/
.primary-footer {
  @include ready;
  @include dynamicTheme-bgColor;
  position: relative;

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    padding: 24px;

    .social {
      @include flex;
      justify-self: start;
      font-size: 1.75em;
      padding: 8px;
      cursor: default;

      a {
        @include unstyledLink;
        height: 1.1em;
        width: 1.1em;
        transition: opacity $trd;

        &:not(:hover):not(:focus) { opacity: $footerIdleOpacity; }
        &:hover, &:focus          { opacity: 1; }
        &:not(:last-child)        { margin-right: 6px; }
      }
    }
    .info {
      @include flex(c, c, c);
      justify-self: center;
      grid-row: 1;
      font-size: 1.1em;
      padding: 4px 0;
      text-align: center;

      .credit {
        @include flex;

        &:hover, &:focus {
          .fa-code  { animation-name: creditAnimation1; }
          .fa-heart { animation-name: creditAnimation2; }
        }

        .fas {
          animation-duration: 1.5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        .fa-code    { padding-right: 0.25em; }
        .fa-heart   { padding: 0 0.25em; }
        strong      { padding-left: 0.25em; }
      }
      .version {
        font-size: 0.9em;

        .num { padding-left: 0.25em; }
      }
      .credit, .version {
        @include unstyledLink;
        padding: 4px 8px;
        transition: opacity $trd, transform $trd;

        &:not(:hover):not(:focus) { opacity: $footerIdleOpacity; }
        &:hover, &:focus          { opacity: 1; }
        &:active                  { transform: scale(0.85); }
      }
    }
    .return {
      @include flex;
      @include unstyledLink;
      justify-self: end;
      font-size: 1.5em;
      padding: 8px;
      transition: opacity $trd, transform $trd;

      &:not(:hover):not(:focus) { opacity: $footerIdleOpacity; }
      &:hover, &:focus { opacity: 1; }
      &:active { transform: scale(0.85); }

      .fas {
        padding: 6px;
        border: 2px solid;
        border-radius: 50%;
      }
    }
  }
  .devmode-message {
    @include flex;
    padding: 8px;
    color: tpw(0.5);
    background-color: tpb(0.4);

    strong { padding-left: 0.25em; }
  }
}
