/*********************************
  Global (Shared) Styles
*********************************/

/*** Imports ***/
@import "../partials/_globals";

/*** Media Queries ***/
@media screen and (max-width: 474px) {
  header.main .content-container .content-wrapper .content {
    &.short {
      font-size: 1em;
    }
    &.long {
      font-size: 0.75em;
    }
  }
}
@media screen and (min-width: 475px) and (max-width: 699px) {
  header.main .content-container .content-wrapper .content {
    &.short {
      font-size: 1.25em;
    }
    &.long {
      font-size: 1em;
    }
  }
}
@media screen and (min-width: 700px) {
  header.main .content-container .content-wrapper .content {
    &.short {
      font-size: 1.5em;
    }
    &.long {
      font-size: 1.25em;
    }
  }
}

/*** Animations ***/
@keyframes externalLinkIconEnter {
  0%   { transform: scale(1); }
  25%  { transform: scale(0.8); }
  50%  { transform: scale(1); }
  75%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@keyframes externalLinkIconLeave {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@keyframes externalLinkIconClick {
  0%   { opacity: 1; }
  100% { opacity: 0.75; }
}
@keyframes animateSpinner1 {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes animateSpinner2 {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(19px, 0); }
}
@keyframes animateSpinner3 {
  0%   { transform: scale(1); }
  100% { transform: scale(0); }
}

/*** Global Declarations ***/
// CSS Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before, &::after { @extend *; }
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  color: $df-color;
  background-color: $site-color-main;
  font-family: $df-font;
  line-height: $df-line-height;
  opacity: 1;
  transition: opacity $trd;

  &[data-popup-active="true"]  { overflow: hidden; }
  &[data-popup-active="false"] { overflow: auto; }
}
button {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;

  &:hover:not([disabled]) { cursor: pointer; }
}
button, span, div {
  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
template, .webp-support { display: none; }
// Main Content Styles
header.main {
  @include ready;

  position: relative;
  width: 100%;
  border-bottom: 4px solid;
  @include dynamicTheme-borderColor;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1em 0.5em tpb(0.75);
    content: "";
  }

  .content-container {
    height: 100%;
    width: 100%;
    padding-top: 64px;
    background-color: tpb(0.6);

    .content-wrapper {
      @include flex(s, e);
      height: 100%;
      width: 100%;
      padding: 32px 16px;

      .content {
        text-shadow: 1px 1px 4px tpb(0.8);
        max-width: 85%;

        .title {
          font-size: 2em;
          font-weight: bold;
          line-height: 1.1;
        }
        .description {
          font-size: 1.1em;
          opacity: 0.75;
          padding-top: 4px;
        }
      }
    }
  }
}
main {
  opacity: 1;
  transition: opacity $trd;

  > .content-wrapper {
    padding: 32px 16px;

    &.no-header {
      padding-top: 80px;
    }
  }
}

/*** Global Classes ***/
// Bubbles
@mixin bubble-off {
  opacity: 0;
  transform: scale(0);
}
@mixin bubble-on {
  opacity: 0.3;
  transform: scale(1);
}
@mixin bubble-active {
  opacity: 0.5;
}

.bubble-parent {
  position: relative;
  @include flex;

  &:not(:hover):not(:focus) .bubble {
    @include bubble-off;
  }
  &:hover, &:focus {
    .bubble {
      @include bubble-on;
    }
  }
  &:active .bubble {
    @include bubble-active;
  }

  .bubble {
    position: absolute;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    transition: opacity $trd, transform $trd;

    &-light {
      background-color: $bbl-light;
    }
    &-dark {
      background-color: $bbl-dark;
    }
  }
}
// Spinners
.spinner {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;

  .dot {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 6px;
      animation: animateSpinner1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 6px;
      animation: animateSpinner2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 26px;
      animation: animateSpinner2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 45px;
      animation: animateSpinner3 0.6s infinite;
    }
  }
}
// External Link Icons
.external-link-icon {
  position: relative;
  @include flex(c, c, none, false, inline);

  &:not(:hover):not(:focus) {
    .external {
      opacity: 0;
    }
    .icon {
      opacity: 1;
      animation: externalLinkIconLeave 0.25s linear forwards;
    }
  }
  &:hover, &:focus {
    .external {
      opacity: 1;
      animation: externalLinkIconEnter 0.25s linear forwards;
    }
    .icon {
      opacity: 0;
    }
  }
  &:active {
    .external {
      animation: externalLinkIconClick 0.25s linear forwards;
    }
  }

  .external, .icon { position: absolute; }
}
