@import "../partials/_globals";

$listPadding: 16px;

.toast-list {
  position: fixed;
  @include pull(b, r);
  @include flexbox($hAlign: e, $direction: c);
  padding: $listPadding;
  z-index: zOrder(popup);
}
.toast {
  $baseline: 320px;
  $padding: 8px;

  @mixin alertPopupAnimationProps ($opacity, $translation) {
    opacity: $opacity;
    transform: translateY($translation);
  }
  @mixin alertPopupAnimation ($start, $end) {
    #{$start} { @include alertPopupAnimationProps(0, 100%); }
    #{$end}   { @include alertPopupAnimationProps(1, 0); }
  }

  @keyframes alertPopupIn {
    @include alertPopupAnimation(0%, 100%);
  }
  @keyframes alertPopupOut {
    @include alertPopupAnimation(100%, 0%);
  }

  @include theme(bg);
  display: block;
  border: bd(1.5px, tpw(0.25));
  border-radius: 8px;
  box-shadow: shadow(tpb(0.5));
  min-width: calc(#{$baseline} - #{$listPadding * 2});
  max-width: calc(#{$baseline * 2} - #{$listPadding * 2});
  overflow: hidden;
  @include animation(0.25s, linear, $fill: forwards);
  @include alertPopupAnimationProps(0, 100%);
  transition: none;

  &:not(:first-child) {
    margin-top: 8px;
  }
  &:not([hidden])  {
    animation-name: alertPopupIn;
  }
  &[hidden] {
    display: block;
    animation-name: alertPopupOut;
  }
  &::before {
    @include fill(true, tpb(0.25));
  }

  .progress-bar {
    position: absolute;
    background-color: transparent;
    height: 100%;

    .progress {
      @keyframes alertPopupProgress {
        from { transform: translateX(0); }
        to   { transform: translateX(100%); }
      }

      @include animation($timing: linear, $fill: forwards);
      background-color: tpw(0.25);
      border-radius: 0;

      @at-root .toast {
        &.expiring .progress-bar .progress {
          animation-name: alertPopupProgress;
        }
      }
    }
  }
  .content-container {
    @include flexbox($hAlign: none);
    font-size: 0.85em;
  }
  .content {
    display: inline-flex;
    flex: 1;
    padding: $padding;
  }
    .icon {
      @include flexbox($hAlign: none);
      margin-right: $padding;
      padding: $padding / 2;
      display: flex;
      font-size: 1.5em;
    }
    .title {
      font-size: 1.15em;
    }
    .body {
      color: tpw(0.75);
      margin-top: 0;
    }
  .actions {
    @include flexbox(none, e);
    align-self: flex-end;
    padding: $padding;
    margin-left: auto;
  }
}
