/*********************************
  Credits Page Styles
*********************************/

/*** Imports ***/
@import "../partials/_globals";

/*** Style Declarations ***/
.credits {
  @include ready;

  @include flexbox(none, none, $wrap: true);
  padding: 16px 8px;
  overflow: hidden;

  .banner {
    width: 100%;
    margin: 8px;
    background-color: $theme-main;

    @mixin bannerRoot {
      @at-root .credits .banner { @content; }
    }

    .header {
      @include flexbox;
      padding: 16px;

      .flag {
        @include flexbox($wrap: true);
        text-align: center;
        padding: 16px;
        font-size: 1.25em;
        background-color: tpb(0.25);
        border: bd(2px, tpb(0.25));
        border-radius: 4px;
        cursor: default;

        @media screen and (max-width: 419px) {
          strong { width: 100%; }
        }
        @media screen and (min-width: 420px) {
          strong { padding-left: 6px; }
        }

        @include bannerRoot {
          &:hover {
            .fa-code      { animation-name: bannerAnimation1; }
            .fa-heart     { animation-name: bannerAnimation2; }
          }
        }

        .fas {
          @keyframes bannerAnimation1 {
            20%, 50%, 80% { transform: rotate(0deg); }
            35%           { transform: rotate(-15deg); }
            65%           { transform: rotate(15deg); }
          }
          @keyframes bannerAnimation2 {
            0%, 60%, 100% { transform: scale(1); }
            25%           { transform: scale(0.95); }
            40%           { transform: scale(1.05); }
            75%           { transform: scale(1.1); }
          }

          @include animation(1.5s, linear, infinite);
        }
        .fa-code  { padding-right: 6px; }
        .fa-heart { padding: 0 6px; }
      }
    }
    .description {
      padding: 12px;
      text-align: center;
      background-color: tpb(0.25);

      @media screen and (max-width: 379px) { font-size: 0.9em; }
      @media screen and (min-width: 380px) { font-size: 1em; }

      p {
        color: inherit;

        @include bannerRoot {
          &:not(:hover) p { opacity: 0.85; }
          &:hover p       { opacity: 1; }
        }
      }
    }
  }
  .module {
    $margins: 8px;

    flex: 1 1 calc(50% - #{$margins * 2});;
    @include spacing($margins, 8px);
    background-color: $site-color-lighter;

    &::before { @include fill(true, #000); }

    @include mouseState(noHover) {
      &::before                { opacity: 0.2; }
    }
    @include mouseState(hover) {
      &::before                { opacity: 0; }
    }
    @include mouseState(click) { transform: scale(0.9); }

    .header {
      @include flexbox(c, s);
      padding: 8px;
    }
    .icon {
      @include flexbox;
      font-size: 1.75em;
      @include multiProp(1.75em, sizing);
      padding: 8px;
      margin-right: 16px;
      background-color: $site-color-lighter;
      border: bd(1.5px, $site-color-dark);
      border-radius: 4px;
      overflow: hidden;


      &::before { @include fill(true, #000); }

      @at-root .credits .module {
        @include mouseState(noHover) {
          .icon::before           { opacity: 0; }
        }
        @include mouseState(hover) {
          .icon {
            &::before             { opacity: 0.2; }
            .fa-font-awesome-flag { animation-name: fontAwesomeAnimation; }
            .fa-spinner           { animation-name: loadingIoAnimation; }
            .fa-cloud             { animation-name: cloudflareAnimation; }
          }
        }
      }

      .fas, .fab {
        @keyframes fontAwesomeAnimation {
          0%, 100%      { text-shadow: none; }
          35%           { text-shadow: shadow(#fff, 0.5em); }
        }
        @keyframes loadingIoAnimation {
          0%            { transform: rotate(0deg); }
          100%          { transform: rotate(360deg); }
        }
        @keyframes cloudflareAnimation {
          0%, 50%, 100% { transform: scale(1); }
          25%           { transform: scale(0.9); }
          75%           { transform: scale(1.1); }
        }

        @include animation(1.5s, linear, infinite);
      }
      h3 { font-size: 1.5em; }
    }
    .description { @include spacing(0, 8px); }
  }
  .shoutout {
    @include spacing(8px, 16px);
    width: 100%;
    background-color: tpw(0.25);
    border-radius: 4px;
    text-align: center;
  }
  .banner, .module, .shoutout {
    border: bd(2px, tpw(0.25));
    border-radius: 4px;
  }
}
