/*********************************
  Alert Popup Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Style Declarations ***/
.alert-popup-list {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 16px;
  z-index: 102; }

.alert-popup {
  display: block;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  min-width: calc(320px - 32px);
  max-width: calc(640px - 32px);
  overflow: hidden;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(100%);
  transition: none; }
@-webkit-keyframes alertPopupIn {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes alertPopupIn {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes alertPopupOut {
  100% {
    opacity: 0;
    transform: translateY(100%); }
  0% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes alertPopupOut {
  100% {
    opacity: 0;
    transform: translateY(100%); }
  0% {
    opacity: 1;
    transform: translateY(0); } }
  body[data-theme="main"] .alert-popup {
    background-color: #f00; }
  body[data-theme="bl1"] .alert-popup {
    background-color: #dc143c; }
  body[data-theme="bl2"] .alert-popup {
    background-color: #ff4500; }
  body[data-theme="tps"] .alert-popup {
    background-color: #1e90ff; }
  .alert-popup:not(:first-child) {
    margin-top: 8px; }
  .alert-popup[data-expanded="true"] {
    -webkit-animation-name: alertPopupIn;
            animation-name: alertPopupIn; }
  .alert-popup[data-expanded="false"] {
    -webkit-animation-name: alertPopupOut;
            animation-name: alertPopupOut; }
  .alert-popup::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    content: "";
    background-color: rgba(0, 0, 0, 0.25); }
  .alert-popup .progress-bar {
    position: absolute;
    background-color: transparent;
    height: 100%; }
    .alert-popup .progress-bar .progress {
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      background-color: rgba(0, 0, 0, 0.25); }
@-webkit-keyframes alertPopupProgress {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }
@keyframes alertPopupProgress {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }
      .alert-popup[data-expiring="true"] .progress-bar .progress {
        -webkit-animation-name: alertPopupProgress;
                animation-name: alertPopupProgress; }
      .alert-popup[data-duration="short"] .progress-bar .progress {
        -webkit-animation-duration: 2.5s;
                animation-duration: 2.5s; }
      .alert-popup[data-duration="medium"] .progress-bar .progress {
        -webkit-animation-duration: 5s;
                animation-duration: 5s; }
      .alert-popup[data-duration="long"] .progress-bar .progress {
        -webkit-animation-duration: 7.5s;
                animation-duration: 7.5s; }
  .alert-popup .content-container {
    display: flex;
    align-items: center;
    font-size: 0.85em; }
  .alert-popup .content {
    display: inline-flex;
    flex: 1;
    padding: 8px; }
  .alert-popup .icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 4px;
    display: flex;
    font-size: 1.5em; }
  .alert-popup .title {
    font-size: 1.15em; }
  .alert-popup .description {
    color: rgba(255, 255, 255, 0.75);
    margin-top: 0; }
  .alert-popup .actions {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 8px;
    margin-left: auto; }
