/*********************************
  Global (Shared) Styles
*********************************/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*********************************
  Spinner Styles
*********************************/
.spinner {
  display: inline-block;
  height: 64px;
  width: 64px; }

@keyframes animateSpinner1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes animateSpinner2 {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(19px); } }

@keyframes animateSpinner3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
  .spinner .dot {
    position: absolute;
    top: 27px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: #fff;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }
    .spinner .dot.dot1 {
      left: 6px;
      animation-name: animateSpinner1; }
    .spinner .dot.dot2 {
      left: 6px;
      animation-name: animateSpinner2; }
    .spinner .dot.dot3 {
      left: 26px;
      animation-name: animateSpinner2; }
    .spinner .dot.dot4 {
      left: 45px;
      animation-name: animateSpinner3; }

/*** Global Declarations ***/
*, ::before, ::after {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out; }

body {
  background-color: #0f1e2d; }
  body.popup-open {
    overflow: hidden; }

main.no-header {
  min-height: 100%; }

html, body {
  height: 100%;
  width: 100%; }

body {
  color: #fff;
  background-color: #0f1d2c;
  font-family: Arial, sans-serif;
  line-height: 1.25;
  opacity: 1; }

a {
  text-decoration: none; }
  a.tr-underline:not(:hover):not(:focus), a.themed:not(:hover):not(:focus) {
    text-decoration: none; }
  a.tr-underline:hover, a.themed:hover, a.tr-underline:focus, a.themed:focus {
    text-decoration: underline; }
  a.tr-underline:active, a.themed:active {
    opacity: 0.75; }
  a.tr-appear:not(:hover):not(:focus) {
    opacity: 0.75; }
  a.tr-appear:hover, a.tr-appear:focus {
    opacity: 1; }
  a.tr-appear:active {
    text-decoration: underline; }
  a:not(.themed) {
    color: inherit; }
  a.themed {
    color: #0ff; }

p:not(:first-child) {
  margin-top: 12px; }

button {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit; }

button.styled, a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  font-size: 1em;
  line-height: 1; }
  button.styled:not(:focus):not(:hover):not([disabled])::before, a.button:not(:focus):not(:hover):not([disabled])::before, button.styled[disabled]::before, a.button[disabled]::before {
    opacity: 0.15; }
  button.styled:not(:focus):not(:hover):not([disabled])::after, a.button:not(:focus):not(:hover):not([disabled])::after, button.styled[disabled]::after, a.button[disabled]::after {
    opacity: 0.5; }
  button.styled:not([disabled]):not(:hover):not(:focus) span, a.button:not([disabled]):not(:hover):not(:focus) span, button.styled[disabled] span, a.button[disabled] span {
    opacity: 0.85; }
  button.styled::before, button.styled::after, a.button::before, a.button::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    content: ""; }
  button.styled::before, a.button::before {
    background-color: #fff;
    opacity: 0.15; }
  button.styled::after, a.button::after {
    border: 1.5px solid #fff;
    border-radius: inherit; }
  button.styled:not(:last-child), a.button:not(:last-child) {
    margin-right: 8px; }
  button.styled:not([disabled]):hover::before, button.styled:not([disabled]):focus::before, a.button:not([disabled]):hover::before, a.button:not([disabled]):focus::before {
    opacity: 0.25; }
  button.styled:not([disabled]):hover::after, button.styled:not([disabled]):focus::after, a.button:not([disabled]):hover::after, a.button:not([disabled]):focus::after {
    opacity: 0.75; }
  button.styled:not([disabled]):hover span, button.styled:not([disabled]):focus span, a.button:not([disabled]):hover span, a.button:not([disabled]):focus span {
    opacity: 1; }
  button.styled:not([disabled]):active::before, a.button:not([disabled]):active::before {
    opacity: 0.5; }

button:hover:not([disabled]), a:hover:not([disabled]) {
  cursor: pointer; }

button[disabled], a[disabled], input[disabled], select[disabled], textarea[disabled] {
  opacity: .5 !important;
  cursor: not-allowed !important; }

ul.styled {
  list-style: disc inside; }

ol.styled {
  list-style: decimal inside; }

ul.styled:not(:first-child), ol.styled:not(:first-child) {
  margin-top: 12px; }

ul.styled:not(:last-child), ol.styled:not(:last-child) {
  margin-bottom: 12px; }

ul.styled li, ol.styled li {
  padding: 2px 0; }

ul.styled ul, ol.styled ul {
  list-style: disc inside; }

ul.styled ol, ol.styled ol {
  list-style: decimal inside; }

ul.styled ul, ul.styled ol, ol.styled ul, ol.styled ol {
  margin-top: 2px; }

ul.styled, ul.styled ul, ul.styled ol, ol.styled, ol.styled ul, ol.styled ol {
  margin-left: 12px; }

ul:not(.styled), ol:not(.styled) {
  list-style: none; }

code {
  padding: 3px 6px; }

pre {
  margin: 12px 0;
  padding: 8px; }
  pre code {
    background-color: transparent;
    padding: 0; }

pre, code {
  font-family: inherit;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.25); }

template, .webp-support {
  display: none; }

@media screen and (max-width: 474px) {
  header.main .intro {
    height: 30vh; }
  main:not(.no-header) {
    min-height: 70vh; } }

@media screen and (min-width: 475px) {
  header.main .intro {
    height: calc(30vh + 64px); }
  main:not(.no-header) {
    min-height: calc(70vh- 64px); } }

header.main {
  width: 100%;
  overflow: hidden; }
  header.main, header.main * {
    opacity: 1; }
  header.main .intro {
    border-bottom: 4px solid;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: 1; }
    body[data-theme="main"] header.main .intro {
      border-color: #f00; }
    body[data-theme="bl1"] header.main .intro {
      border-color: #dc143c; }
    body[data-theme="bl2"] header.main .intro {
      border-color: #ff4500; }
    body[data-theme="tps"] header.main .intro {
      border-color: #1e90ff; }
    body[data-theme="bl3"] header.main .intro {
      border-color: #ffa900; }
    header.main .intro::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.75);
      content: ""; }
    header.main .intro .content-container {
      height: 100%;
      width: 100%;
      padding-top: 64px;
      background-color: rgba(0, 0, 0, 0.6); }
    header.main .intro .content-wrapper {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      padding: 32px 16px;
      text-align: start; }
    header.main .intro .content {
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
      max-width: 85%; }
      @media screen and (max-width: 474px) {
        header.main .intro .content.short {
          font-size: 1em; }
        header.main .intro .content.long {
          font-size: 0.75em; } }
      @media screen and (min-width: 475px) and (max-width: 699px) {
        header.main .intro .content.short {
          font-size: 1.25em; }
        header.main .intro .content.long {
          font-size: 1em; } }
      @media screen and (min-width: 700px) {
        header.main .intro .content.short {
          font-size: 1.5em; }
        header.main .intro .content.long {
          font-size: 1.25em; } }
    header.main .intro .title {
      font-size: 2em;
      line-height: 1.1; }
    header.main .intro .description {
      font-size: 1.1em;
      opacity: 0.75;
      padding-top: 4px; }
  header.main .breadcrumbs {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    animation: breadcrumbFadeIn 0.2s ease-out; }

@keyframes breadcrumbFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    body[data-theme="main"] header.main .breadcrumbs {
      background-color: #f00; }
    body[data-theme="bl1"] header.main .breadcrumbs {
      background-color: #dc143c; }
    body[data-theme="bl2"] header.main .breadcrumbs {
      background-color: #ff4500; }
    body[data-theme="tps"] header.main .breadcrumbs {
      background-color: #1e90ff; }
    body[data-theme="bl3"] header.main .breadcrumbs {
      background-color: #ffa900; }
    header.main .breadcrumbs::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
      content: "";
      background-color: rgba(0, 0, 0, 0.5); }
    header.main .breadcrumbs:not(.ready) {
      display: none; }
    header.main .breadcrumbs .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      padding: 8px 12px;
      transition: transform 0.8s; }
    header.main .breadcrumbs .separator {
      opacity: 0.5; }
    header.main .breadcrumbs .separator, header.main .breadcrumbs b.crumb {
      cursor: default; }
    header.main .breadcrumbs .separator, header.main .breadcrumbs .crumb {
      margin: 4px;
      padding: 4px 8px;
      line-height: 1;
      background-color: rgba(255, 255, 255, 0.25);
      border: 1.5px solid rgba(255, 255, 255, 0.5);
      border-radius: 4px; }

main {
  opacity: 1; }
  main.content-wrapper {
    padding: 32px 16px; }
  main.no-header {
    min-height: 100%;
    padding-top: 80px; }

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

div.box-icon, span.box-icon, a.box-icon, button.box-icon, strong.box-icon, b.box-icon, em.box-icon, i.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em; }

.highlight {
  width: 100%;
  margin: 0;
  padding: 12px;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  border: 1.5px solid;
  border-color: inherit;
  border-radius: 4px; }
  .highlight::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    content: "";
    background-color: rgba(0, 0, 0, 0.3); }
  .highlight pre {
    margin: 0;
    padding: 0;
    background-color: transparent;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word; }
  .highlight mark, .highlight code {
    color: inherit;
    background-color: transparent; }
    .highlight mark.statement, .highlight code.statement {
      color: #f0f; }
    .highlight mark.state, .highlight code.state {
      color: #ff8c00; }
    .highlight mark.key, .highlight code.key {
      color: #ffcd00; }
    .highlight mark.value, .highlight code.value {
      color: #7cfc00; }
    .highlight mark.statement, .highlight mark.state, .highlight code.statement, .highlight code.state {
      text-shadow: 0 0 rgba(255, 255, 255, 0.5); }

/*** Custom Elements ***/
.spacer {
  padding: 6px 0; }

.bubble-parent {
  display: flex;
  align-items: center;
  justify-content: center; }
  .bubble-parent:not(:hover):not(:focus) .bubble {
    opacity: 0;
    transform: scale(0); }
  .bubble-parent:hover .bubble, .bubble-parent:focus .bubble {
    opacity: 0.3;
    transform: scale(1); }
  .bubble-parent:active .bubble {
    opacity: 0.5;
    transform: scale(1); }
  .bubble-parent .bubble {
    position: absolute;
    border-radius: 50%;
    height: 80%;
    width: 80%; }
    .bubble-parent .bubble-light {
      background-color: #fff; }
    .bubble-parent .bubble-dark {
      background-color: #000; }

.external-link-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

@keyframes externalLinkIconEnter {
  0%, 50%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.8); }
  75% {
    transform: scale(1.2); } }

@keyframes externalLinkIconLeave {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }

@keyframes externalLinkIconClick {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.75; } }
  .external-link-icon:not(:hover):not(:focus) .external {
    opacity: 0; }
  .external-link-icon:not(:hover):not(:focus) .icon {
    opacity: 1;
    animation-name: externalLinkIconLeave; }
  .external-link-icon:hover .external, .external-link-icon:focus .external {
    opacity: 1;
    animation-name: externalLinkIconEnter; }
  .external-link-icon:hover .icon, .external-link-icon:focus .icon {
    opacity: 0; }
  .external-link-icon:active .external {
    animation-name: externalLinkIconClick; }
  .external-link-icon .external, .external-link-icon .icon {
    position: absolute;
    animation: 0.25s linear forwards; }

.dropdown-panel {
  border-radius: 4px;
  padding: 2px;
  overflow: hidden; }
  .dropdown-panel.c {
    display: none; }
  .dropdown-panel::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    content: "";
    background-color: #224365;
    height: 100%;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: inherit; }
  .dropdown-panel:not(:first-child) {
    margin-top: 8px; }
  .dropdown-panel:not(:last-child) {
    margin-bottom: 8px; }
  .dropdown-panel .overlay-hashtarget {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    content: "";
    border: 2px solid #fff;
    border-radius: inherit;
    opacity: 0; }

@keyframes dropdownPanelHashTargetVisible {
  0%, 50%, 100% {
    opacity: 0.25; }
  25%, 75% {
    opacity: 1; } }

@keyframes dropdownPanelHashTargetSeen {
  0% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }
    .dropdown-panel[data-hashtarget="visible"] .overlay-hashtarget {
      animation: dropdownPanelHashTargetVisible 2.5s linear infinite; }
    .dropdown-panel[data-hashtarget="seen"] .overlay-hashtarget {
      animation: dropdownPanelHashTargetSeen 0.75s linear; }
  .dropdown-panel .header {
    font-size: inherit;
    width: 100%; }
    .dropdown-panel .header::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
      content: "";
      background-color: #fff; }
    .dropdown-panel .header:not(:hover):not(:focus)::before {
      opacity: 0; }
    .dropdown-panel .header:hover::before, .dropdown-panel .header:focus::before {
      opacity: 0.1; }
    .dropdown-panel .header:active::before {
      opacity: 0.2; }
    .dropdown-panel .header .wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 8px;
      width: 100%; }
    .dropdown-panel .header .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      align-self: center;
      text-align: start;
      grid-column: 1;
      font-size: 1.15em; }
      .dropdown-panel .header .title .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        font-size: 1.25em; }
      .dropdown-panel .header .title .string {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 8px; }
      .dropdown-panel .header .title .primary {
        font-size: 1em; }
      .dropdown-panel .header .title .secondary {
        font-size: 0.8em;
        opacity: 0.5; }
    .dropdown-panel .header .indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      grid-column: 2;
      font-size: 1.25em;
      line-height: 1;
      align-self: flex-start; }
      .dropdown-panel[data-expanded="true"] .header .indicator .fas {
        transform: rotate(90deg); }
    .dropdown-panel .header .title, .dropdown-panel .header .indicator {
      grid-row: 1; }
    .dropdown-panel .header .full-width {
      grid-column: 1 / span 2; }
    .dropdown-panel .header .fas {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1em;
      width: 1em; }
  .dropdown-panel .body {
    background-color: rgba(0, 0, 0, 0.2); }
    .dropdown-panel .body.content-container {
      padding: 16px; }
    .dropdown-panel[data-expanded="false"] .body {
      display: none; }
    .dropdown-panel[data-expanded="true"] .body {
      display: block; }
  .dropdown-panel .header, .dropdown-panel .body {
    overflow: hidden; }

.dropdown-panel-group {
  margin: 24px 0; }

.dropdown-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit; }
  .dropdown-menu-container, .dropdown-menu-container * {
    opacity: 1; }

.dropdown-menu-target {
  z-index: 2; }

.dropdown-menu {
  position: absolute;
  font-size: 1rem;
  z-index: 1; }
  .dropdown-menu[hidden], .dropdown-menu:not([hidden]):not(.configured) {
    display: none; }
  .dropdown-menu:not([hidden]) {
    display: grid; }
  .dropdown-menu[data-expanded="false"] {
    opacity: 0; }
  .dropdown-menu[data-expanded="true"] {
    opacity: 1; }
  .dropdown-menu .arrow {
    position: absolute;
    height: 0;
    width: 0;
    border: 0.5em solid transparent;
    border-bottom-color: #fff; }
    .dropdown-menu[data-pos="bottom"] .arrow {
      transform: translate(0 -0.5em) rotate(0deg);
      justify-self: center; }
    .dropdown-menu[data-pos="top"] .arrow {
      transform: translate(0 0.5em) rotate(180deg);
      justify-self: center; }
    .dropdown-menu[data-pos="right"] .arrow {
      transform: translate(-0.5em 0) rotate(270deg);
      align-self: center; }
    .dropdown-menu[data-pos="left"] .arrow {
      transform: translate(0.5em 0) rotate(90deg);
      align-self: center; }
  .dropdown-menu .panel {
    position: absolute;
    color: #fff;
    background-color: #224365;
    border: 1.5px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
    .dropdown-menu[data-pos="bottom"] .panel {
      transform: translate(0 0.5em); }
    .dropdown-menu[data-pos="top"] .panel {
      transform: translate(0 -0.5em); }
    .dropdown-menu[data-pos="right"] .panel {
      transform: translate(0.5em 0); }
    .dropdown-menu[data-pos="left"] .panel {
      transform: translate(-0.5em 0); }
    .dropdown-menu[data-pos="top"][data-align="left"] .panel, .dropdown-menu[data-pos="bottom"][data-align="left"] .panel {
      justify-self: flex-start; }
    .dropdown-menu[data-pos="top"][data-align="right"] .panel, .dropdown-menu[data-pos="bottom"][data-align="right"] .panel {
      justify-self: flex-end; }
    .dropdown-menu[data-pos="top"][data-align="left"] .panel, .dropdown-menu[data-pos="top"][data-align="right"] .panel, .dropdown-menu[data-pos="bottom"][data-align="left"] .panel, .dropdown-menu[data-pos="bottom"][data-align="right"] .panel {
      min-width: calc(50% + 1em); }
    .dropdown-menu[data-pos="top"]:not([data-align="left"]):not([data-align="right"]) .panel, .dropdown-menu[data-pos="bottom"]:not([data-align="left"]):not([data-align="right"]) .panel {
      justify-self: center; }
    .dropdown-menu[data-pos="left"][data-align="top"] .panel, .dropdown-menu[data-pos="right"][data-align="top"] .panel {
      align-self: flex-start; }
    .dropdown-menu[data-pos="left"][data-align="bottom"] .panel, .dropdown-menu[data-pos="right"][data-align="bottom"] .panel {
      align-self: flex-end; }
    .dropdown-menu[data-pos="left"][data-align="top"] .panel, .dropdown-menu[data-pos="left"][data-align="bottom"] .panel, .dropdown-menu[data-pos="right"][data-align="top"] .panel, .dropdown-menu[data-pos="right"][data-align="bottom"] .panel {
      min-height: calc(50% + 1em); }
    .dropdown-menu[data-pos="left"]:not([data-align="top"]):not([data-align="bottom"]) .panel, .dropdown-menu[data-pos="right"]:not([data-align="top"]):not([data-align="bottom"]) .panel {
      align-self: center; }
    .dropdown-menu .panel .title {
      opacity: 0.5;
      font-size: 1.2em;
      cursor: default; }
    .dropdown-menu .panel .choice-list.scrollable {
      max-height: 12.5em;
      overflow-x: hidden;
      overflow-y: scroll; }
    .dropdown-menu .panel .choice {
      display: block;
      font-size: 1.1em;
      cursor: pointer; }
      .dropdown-menu .panel .choice::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        content: ""; }
      .dropdown-menu .panel .choice[aria-pressed="false"], .dropdown-menu .panel .choice:not([aria-pressed]) {
        color: inherit; }
        .dropdown-menu .panel .choice[aria-pressed="false"]::before, .dropdown-menu .panel .choice:not([aria-pressed])::before {
          background-color: rgba(255, 255, 255, 0.75); }
        .dropdown-menu .panel .choice[aria-pressed="false"]:not(:hover):not(:focus), .dropdown-menu .panel .choice:not([aria-pressed]):not(:hover):not(:focus) {
          opacity: 0.8; }
          .dropdown-menu .panel .choice[aria-pressed="false"]:not(:hover):not(:focus)::before, .dropdown-menu .panel .choice:not([aria-pressed]):not(:hover):not(:focus)::before {
            opacity: 0; }
        .dropdown-menu .panel .choice[aria-pressed="false"]:hover, .dropdown-menu .panel .choice[aria-pressed="false"]:focus, .dropdown-menu .panel .choice:not([aria-pressed]):hover, .dropdown-menu .panel .choice:not([aria-pressed]):focus {
          opacity: 1; }
          .dropdown-menu .panel .choice[aria-pressed="false"]:hover::before, .dropdown-menu .panel .choice[aria-pressed="false"]:focus::before, .dropdown-menu .panel .choice:not([aria-pressed]):hover::before, .dropdown-menu .panel .choice:not([aria-pressed]):focus::before {
            opacity: 0.25; }
        .dropdown-menu .panel .choice[aria-pressed="false"]:active::before, .dropdown-menu .panel .choice:not([aria-pressed]):active::before {
          opacity: 0.5; }
      .dropdown-menu .panel .choice[aria-pressed="true"] {
        color: #fff; }
        body[data-theme="main"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #f00; }
        body[data-theme="bl1"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #dc143c; }
        body[data-theme="bl2"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #ff4500; }
        body[data-theme="tps"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #1e90ff; }
        body[data-theme="bl3"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #ffa900; }
        .dropdown-menu .panel .choice[aria-pressed="true"]::before {
          background-color: #fff; }
        .dropdown-menu .panel .choice[aria-pressed="true"]:not(:hover):not(:focus)::before {
          opacity: 0; }
        .dropdown-menu .panel .choice[aria-pressed="true"]:hover::before, .dropdown-menu .panel .choice[aria-pressed="true"]:focus::before {
          opacity: 0.25; }
        .dropdown-menu .panel .choice[aria-pressed="true"]:active {
          opacity: 0.75; }
    .dropdown-menu .panel .title, .dropdown-menu .panel .choice {
      text-align: left;
      width: 100%;
      white-space: nowrap;
      padding: 8px 32px 8px 16px;
      min-width: 7.5em; }
  .dropdown-menu[data-pos="bottom"] .arrow {
    top: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="bottom"] .panel {
    top: calc(100% + 4px); }
  .dropdown-menu[data-pos="top"] .arrow {
    bottom: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="top"] .panel {
    bottom: calc(100% + 4px); }
  .dropdown-menu[data-pos="right"] .arrow {
    left: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="right"] .panel {
    left: calc(100% + 4px); }
  .dropdown-menu[data-pos="left"] .arrow {
    right: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="left"] .panel {
    right: calc(100% + 4px); }

@keyframes copiedToClipboard {
  0%, 50%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.9); }
  75% {
    transform: scale(1.1); } }

button.copy.animated span, button.copy.animated div {
  animation: copiedToClipboard 0.5s linear; }

.progress-bar {
  height: 6px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .progress-bar .progress {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    position: absolute;
    left: -100%;
    transform: translateX(0); }
    .progress-bar .progress.no-animation {
      transition: none; }
