/*********************************
  Global (Shared) Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Global Declarations ***/
*, ::before, ::after {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }

html, body {
  height: 100%;
  width: 100%; }

body {
  color: #fff;
  background-color: #0f1d2c;
  font-family: Arial, sans-serif;
  line-height: 1.25;
  opacity: 1; }

a {
  text-decoration: none; }
  a:not(.colored) {
    color: inherit; }
  a.colored {
    color: #0ff; }

button {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit; }
  button:hover:not([disabled]) {
    cursor: pointer; }
  button[disabled] {
    opacity: .5;
    cursor: not-allowed; }

ul.styled {
  list-style: disc inside; }

ol.styled {
  list-style: decimal inside; }

ul.styled, ol.styled {
  padding: 0 12px; }
  ul.styled:not(:first-child), ol.styled:not(:first-child) {
    padding-top: 12px; }
  ul.styled:not(:last-child), ol.styled:not(:last-child) {
    padding-bottom: 12px; }
  ul.styled li, ol.styled li {
    padding: 2px 0; }
ul:not(.styled), ol:not(.styled) {
  list-style: none; }

code {
  padding: 3px 6px; }

pre {
  margin: 8px 0;
  padding: 8px; }
  pre code {
    background-color: transparent;
    padding: 0; }

pre, code {
  font-family: inherit;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.25); }

template, .webp-support {
  display: none; }

header.main {
  width: 100%;
  border-bottom: 4px solid;
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  header.main, header.main * {
    opacity: 1; }
  body[data-theme="main"] header.main {
    border-color: #f00; }
  body[data-theme="bl1"] header.main {
    border-color: #dc143c; }
  body[data-theme="bl2"] header.main {
    border-color: #ff4500; }
  body[data-theme="tps"] header.main {
    border-color: #1e90ff; }
  header.main::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.75);
    content: ""; }
  header.main .content-container {
    height: 100%;
    width: 100%;
    padding-top: 64px;
    background-color: rgba(0, 0, 0, 0.6); }
  header.main .content-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 32px 16px; }
  header.main .content {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    max-width: 85%; }
    @media screen and (max-width: 474px) {
      header.main .content.short {
        font-size: 1em; }
      header.main .content.long {
        font-size: 0.75em; } }
    @media screen and (min-width: 475px) and (max-width: 699px) {
      header.main .content.short {
        font-size: 1.25em; }
      header.main .content.long {
        font-size: 1em; } }
    @media screen and (min-width: 700px) {
      header.main .content.short {
        font-size: 1.5em; }
      header.main .content.long {
        font-size: 1.25em; } }
  header.main .title {
    font-size: 2em;
    line-height: 1.1; }
  header.main .description {
    font-size: 1.1em;
    opacity: 0.75;
    padding-top: 4px; }

main {
  opacity: 1; }
  main > .content-wrapper {
    padding: 32px 16px; }
    main > .content-wrapper.no-header {
      padding-top: 80px; }

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

/*** Custom Elements ***/
.bubble-parent {
  display: flex;
  align-items: center;
  justify-content: center; }
  .bubble-parent:not(:hover):not(:focus) .bubble {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  .bubble-parent:hover .bubble, .bubble-parent:focus .bubble {
    opacity: 0.3;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .bubble-parent:active .bubble {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .bubble-parent .bubble {
    position: absolute;
    border-radius: 50%;
    height: 80%;
    width: 80%; }
    .bubble-parent .bubble-light {
      background-color: #fff; }
    .bubble-parent .bubble-dark {
      background-color: #000; }

.external-link-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center; }
@-webkit-keyframes externalLinkIconEnter {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
@keyframes externalLinkIconEnter {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  25% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
@-webkit-keyframes externalLinkIconLeave {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
@keyframes externalLinkIconLeave {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
@-webkit-keyframes externalLinkIconClick {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.75; } }
@keyframes externalLinkIconClick {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.75; } }
  .external-link-icon:not(:hover):not(:focus) .external {
    opacity: 0; }
  .external-link-icon:not(:hover):not(:focus) .icon {
    opacity: 1;
    -webkit-animation-name: externalLinkIconLeave;
            animation-name: externalLinkIconLeave; }
  .external-link-icon:hover .external, .external-link-icon:focus .external {
    opacity: 1;
    -webkit-animation-name: externalLinkIconEnter;
            animation-name: externalLinkIconEnter; }
  .external-link-icon:hover .icon, .external-link-icon:focus .icon {
    opacity: 0; }
  .external-link-icon:active .external {
    -webkit-animation-name: externalLinkIconClick;
            animation-name: externalLinkIconClick; }
  .external-link-icon .external, .external-link-icon .icon {
    position: absolute;
    -webkit-animation: 0.25s linear forwards;
            animation: 0.25s linear forwards; }

.dropdown-panel {
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden; }
  .dropdown-panel::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-color: #1d3f60;
    height: 100%;
    width: 100%;
    border: 2px solid #060c12;
    border-radius: inherit; }
  .dropdown-panel:not(:first-child) {
    margin-top: 12px; }
  .dropdown-panel:not(:last-child) {
    margin-bottom: 12px; }
  .dropdown-panel .overlay-hashtarget {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    border: 2px solid #fff;
    border-radius: inherit;
    opacity: 0; }
@-webkit-keyframes dropdownPanelHashTargetVisible {
  0%, 50%, 100% {
    opacity: 0.25; }
  25%, 75% {
    opacity: 1; } }
@keyframes dropdownPanelHashTargetVisible {
  0%, 50%, 100% {
    opacity: 0.25; }
  25%, 75% {
    opacity: 1; } }
@-webkit-keyframes dropdownPanelHashTargetSeen {
  0% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }
@keyframes dropdownPanelHashTargetSeen {
  0% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }
    .dropdown-panel[data-hashtarget="visible"] .overlay-hashtarget {
      -webkit-animation: dropdownPanelHashTargetVisible 2.5s linear infinite;
              animation: dropdownPanelHashTargetVisible 2.5s linear infinite; }
    .dropdown-panel[data-hashtarget="seen"] .overlay-hashtarget {
      -webkit-animation: dropdownPanelHashTargetSeen 0.75s linear;
              animation: dropdownPanelHashTargetSeen 0.75s linear; }
  .dropdown-panel .header {
    font-size: inherit;
    width: 100%; }
    .dropdown-panel .header::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      background-color: #fff; }
    .dropdown-panel .header:not(:hover):not(:focus)::before {
      opacity: 0; }
    .dropdown-panel .header:hover::before, .dropdown-panel .header:focus::before {
      opacity: 0.1; }
    .dropdown-panel .header:active::before {
      opacity: 0.2; }
    .dropdown-panel .header .wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 8px;
      width: 100%; }
    .dropdown-panel .header .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      align-self: center;
      grid-column: 1;
      font-size: 1.15em; }
      .dropdown-panel .header .title .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        font-size: 1.25em; }
      .dropdown-panel .header .title .string {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 8px; }
      .dropdown-panel .header .title .primary {
        font-size: 1em; }
      .dropdown-panel .header .title .secondary {
        font-size: 0.8em;
        opacity: 0.5; }
    .dropdown-panel .header .indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      grid-column: 2;
      font-size: 1.25em;
      line-height: 1; }
      .dropdown-panel .header .indicator.sticky {
        align-self: flex-start; }
      .dropdown-panel[data-expanded="false"] .header .indicator {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
      .dropdown-panel[data-expanded="true"] .header .indicator {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .dropdown-panel .header .title, .dropdown-panel .header .indicator {
      grid-row: 1; }
    .dropdown-panel .header .full-width {
      grid-column: 1 / span 2; }
    .dropdown-panel .header .fas {
      height: 1em;
      width: 1em; }
  .dropdown-panel .body {
    background-color: rgba(0, 0, 0, 0.2); }
    .dropdown-panel .body.content-container {
      padding: 16px; }
    .dropdown-panel[data-expanded="false"] .body {
      display: none; }
    .dropdown-panel[data-expanded="true"] .body {
      display: block; }

.dropdown-panel-group {
  margin: 24px 0; }
