/*
Error: Invalid CSS after "<<<<<<< HEAD": expected "{", was "}"
        on line 687 of assets/styles/sass/shared/global.scss

682:   &.animated {
683:     span, div {
684:       animation: copiedToClipboard 0.5s linear;
685:     }
686: <<<<<<< HEAD
687:   }
688: =======
689: >>>>>>> 9c4ca4ff4d10c7b1f4d24f68b9a0e9c232e4e9cc
690: }
691: // Progress Bar
692: .progress-bar {

Backtrace:
assets/styles/sass/shared/global.scss:687
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:1278:in `expected'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:1208:in `expected'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:677:in `block'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:697:in `block_child'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:678:in `block'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:697:in `block_child'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:678:in `block'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:696:in `block_child'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/engine.rb:414:in `_to_tree'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/engine.rb:290:in `render'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.6.0/bin/sass:13:in `<top (required)>'
C:/Ruby25-x64/bin/sass:23:in `load'
C:/Ruby25-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"<<<<<<< HEAD\": expected \"{\", was \"}\"\A         on line 687 of assets/styles/sass/shared/global.scss\A \A 682:   &.animated {\A 683:     span, div {\A 684:       animation: copiedToClipboard 0.5s linear;\A 685:     }\A 686: <<<<<<< HEAD\A 687:   }\A 688: =======\A 689: >>>>>>> 9c4ca4ff4d10c7b1f4d24f68b9a0e9c232e4e9cc\A 690: }\A 691: // Progress Bar\A 692: .progress-bar {"; }
