/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*********************************
  Support Footer Styles
*********************************/
.support-footer {
  background-color: #224365; }
  .support-footer, .support-footer * {
    opacity: 1; }
  .support-footer .header {
    font-size: 1.5em;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25); }
  .support-footer .body .content-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .support-footer .body .panel {
    padding: 8px;
    flex: 1; }
    .support-footer .body .panel .title {
      font-size: 1.25em;
      margin: 8px;
      text-align: center;
      line-height: 1; }
    .support-footer .body .panel .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; }
      .support-footer .body .panel .button-wrapper a {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1em;
        margin: 8px;
        padding: 8px;
        line-height: 1;
        border-radius: 4px;
        overflow: hidden; }
        .support-footer .body .panel .button-wrapper a::before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: inherit;
          content: "";
          background-color: #fff; }
        .support-footer .body .panel .button-wrapper a:not(:hover):not(:focus)::before {
          opacity: 0.2; }
        .support-footer .body .panel .button-wrapper a:hover::before, .support-footer .body .panel .button-wrapper a:focus::before {
          opacity: 0.4; }
        .support-footer .body .panel .button-wrapper a:active {
          opacity: 0.75; }
        .support-footer .body .panel .button-wrapper a * {
          position: relative; }
        .support-footer .body .panel .button-wrapper a .icon {
          font-size: 1.5em;
          padding-right: 8px; }
        .support-footer .body .panel .button-wrapper a .label {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          line-height: normal;
          font-size: 0.75em; }
  .support-footer .body .separator {
    background-color: rgba(15, 29, 44, 0.35); }
    @media screen and (max-width: 649px) {
      .support-footer .body .separator {
        height: 2px;
        width: 100%;
        margin: 0 8px; } }
    @media screen and (min-width: 650px) {
      .support-footer .body .separator {
        width: 3px;
        margin: 8px 0; } }

main, main * {
  opacity: 1; }

main .note {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 16px;
  margin-top: 8px;
  border-radius: 4px; }

main .instructions {
  background-color: #224365;
  border-radius: 4px;
  padding: 16px;
  overflow: hidden; }
  main .instructions, main .instructions * {
    opacity: 1; }
  main .instructions.not-ready {
    opacity: 0; }
  main .instructions .steps {
    overflow: hidden; }
    main .instructions .steps .scroller {
      display: flex;
      justify-content: flex-start;
      transition-duration: 0.4s; }
  main .instructions .step {
    display: flex;
    flex-direction: column;
    min-width: 100%; }
  main .instructions .description {
    margin-top: 8px;
    flex: 1; }
  main .instructions .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    min-height: 20vh; }
    main .instructions .img-container img {
      max-height: 40vh;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  main .instructions .pager .content-wrapper {
    padding: 0; }

.setup {
  display: none; }
