@import "../partials/_globals";

.modal {
  @mixin modalPadding {
    @media screen and (min-width: 440px) { padding: 24px; }
    @media screen and (max-width: 439px) { padding: 16px; }
  }

  position: fixed;
  @include pull(all);
  
  background-color: tpb(0.75);
  z-index: zOrder(popup);
  transition: opacity 0.4s ease-out;

  &[hidden], &:not(.configured) {
    display: none;
  }
  &.inactive {
    opacity: 0;
  }

  .content-wrapper {
    @include flexbox;
    @include multiProp(100%, sizing);
    padding: 32px 16px;
  }
  .panel {
    @keyframes modalPopIn {
      // 0%   { transform: scale(0.75); }
      // 33%  { transform: scale(1); }
      // 66%  { transform: scale(1.1); }
      // 100% { transform: scale(1); }
      0%   { transform: scale(0.75); opacity: 0; }
      100% { transform: scale(1); opacity: 1; }
    }
    @keyframes modalPopOut {
      // 0%   { transform: scale(1); }
      // 33%  { transform: scale(1.1); }
      // 66%  { transform: scale(1); }
      // 100% { transform: scale(0.75); }
      0%   { transform: scale(1); opacity: 1; }
      100% { transform: scale(0.75); opacity: 0; }
    }

    @include flexbox(none, none, $direction: c);
    background-color: $site-color-darker;
    border: bd(1.5px, tpw(0.75));
    border-radius: 4px;
    box-shadow: shadow(tpb(0.75));
    max-height: calc(100% - 16px);
    @include animation($duration: 0.2s, $timing: ease-out, $fill: forwards);
    overflow: hidden;

    @at-root .modal {
      &.inactive .panel       { animation-name: modalPopOut; }
      &:not(.inactive) .panel { animation-name: modalPopIn; }

      &:not(.small) .panel {
        min-width: 50%;
        max-width: calc(100% - 16px);
      }
      &.small .panel {
        min-width: calc(320px - 32px);
        max-width: 440px;
      }
    }

    > {
      .header {
        @include flexbox(none, sb);
        // padding: 8px;
        background-color: tpb(0.25);
        font-size: 1.25em;
    
        .title {
          @include modalPadding;
          align-self: center;;
        }
        .dismiss {
          font-size: inherit;
          @include modalPadding;
          margin-left: auto;
          align-self: start;
    
          @include mouseState(noHover) {
            opacity: 0.75;
          }
    
          @at-root .modal.hide-dismiss-button .header .dismiss {
            display: none;
          }
        }
      }
      .body {
        overflow: auto;
        // background-color: tpb(0.25);
        
        > .content-container {
          @include modalPadding;
        }
      }
      .footer {
        $buttonMargins: 4px;
    
        background-color: tpb(0.25);
        
        .content-container {
          @include flexbox($hAlign: s, $direction: rr, $wrap: true);
          margin: #{-$buttonMargins} #{-$buttonMargins};
          @include modalPadding;
    
          > div {
            margin: $buttonMargins;
      
            button {
              margin: 0;
              width: 100%;
            }
          }
      
          @at-root .modal .footer.pull-left .content-container {
            flex-direction: row;
          }
        }
    
      }
    }
  }
}
