@import "../partials/_globals";

// Navbar / Progress Bar Container
.navbar-container {
  @include ready; 
  $navbar_height: 64px;

  position: fixed;
  @include pull(t, lr);
  height: $navbar_height;
  z-index: zOrder(navbar);

  &[data-at-top="true"] {
    .loader.progress-bar {
      @include theme(c, bg);
    }
    .navbar {
      &::before {
        opacity: 0;
      }
  
      .bubble-dynamic {
        background-color: $bbl-light;
      }
    }
  }
  &[data-at-top="false"] {
    .loader.progress-bar {
      @include multiProp(#fff, colors);
    }
    .navbar {
      background-color: #000;
      box-shadow: 0 0 10px tpb(0.5);
  
      &::before {
        opacity: 1;
      }
  
      .bubble-dynamic {
        background-color: $bbl-dark;
      }
    }
  }

  // Loader Progress Bar
  .loader.progress-bar {
    $loader_bar_duration: 0.4s;

    position: absolute;
    height: 3px;
    background-color: transparent;
    opacity: 0;
    z-index: zOrder(popup);
    transition: opacity $loader_bar_duration ease-out;

    &.is-loading {
      opacity: 1;
      transition: none;

      .progress {
        transition: width $loader_bar_duration ease, color 0.4s ease;
      }
    }

    .progress {
      @include progressBarShadow(10px);
      transition: none;
      @include theme(c, bg);
    }
  }
  .navbar {
    height: 100%;
    width: 100%;
  
    &::before {
      @include fill(true);
      @include theme(bg);
  
      transition: background-color 0.4s ease-out, opacity $trd, transform $trd;
    }
  
    // Navbar
    .content-wrapper {
      @include flexbox();
      @include multiProp(100%, sizing);
  
      li {
        @include flexbox($type: inline);
        flex: 1;
        height: 100%;
  
        &.left {
          justify-content: flex-start;
        }
        &.right {
          justify-content: flex-end;
        }
      }
      .icon {
        @include flexbox();
        @include multiProp(60%, sizing);
        border-radius: 50%;

        .fas {
          font-size: 2em;
        }
      }
      button, a {
        @include multiProp($navbar_height, sizing);

        @include mouseState(noHover) {
          &:not([aria-pressed="true"]) {
            .fas { 
              opacity: 0.75; 
            }
          }
        }
  
        img {
          @include multiProp(calc(100% - 2px), sizing);
          border-radius: inherit;
          box-sizing: content-box;
          border: bd(1px, tpb(0.25));
        }
      }
    }
  }
}
#layers .layer.navbar-layer {
  margin: 8px 16px;

  &.dropdown {
    .title {
      @include flexbox($hAlign: none);
      opacity: 1;
      padding: 0;
      background-color: $site-color-light;
      font-size: 1em;
    }

    .profile-card {
      width: 100%;
      padding: 8px 12px;
      border-radius: 8px 8px 0 0;
    }
    li {
      .box-icon {
        display: inline-flex;
        margin-right: 16px
      }
    }
  }
}

