/*********************************
  Updates Page Styles
*********************************/

/*** Imports ***/
@import "../partials/_globals";

/*** Style Declarations ***/
.updates-header, main { @include ready; }
.updates-header {
  background-color: $site-color-lighter;
  border-bottom: bd(2px, $site-color-darker);
  width: 100%;
  font-size: 1.25em;

  .content-wrapper {
    @include flexbox($hAlign: sb);
    padding: 12px 16px;
  }
  .section {
    @include flexbox;

    &.current {
      font-size: 0.9em;

      &[data-hidden="true"]       { opacity: 0; }
      &:not([data-hidden="true"]) { opacity: 1; }

      .title { opacity: 0.75; }
    }
    &.jump {
      > button {
        @include flexbox;
        font-size: 1em;
        padding: 0.3em 0.6em;
        line-height: 1;
        border-radius: 4px;
        overflow: hidden;

        &::before { @include fill(true, #fff); }

        &[data-pressed="false"] {
          @include mouseState(noHover) {
            &::before                { opacity: 0.2; }
          }
          @include mouseState(hover) {
            &::before                { opacity: 0.4; }
          }
          @include mouseState(click) { opacity: 0.75; }
        }
        &[data-pressed="true"] {
          opacity: 0.75;

          &::before { opacity: 0.4; }
        }
      }
      .dropdown {
        position: absolute;
        flex-direction: column;
        @include multiProp(100%, height, width);
        transform: translateY(100%);
        z-index: zOrder(higher);

        @include hiddenToggle(flex);
        &[data-expanded="false"] { opacity: 0; }
        &[data-expanded="true"]  { opacity: 1; }

        .arrow {
          position: absolute;
          @include multiProp(1rem, height, width);
          @include pull(t);
          transform: translateY(calc(-15% + 0.75em)) rotate(45deg);
          align-self: center;
          background: linear-gradient(to bottom right, #fff 0.4em, transparent 0.4em);
          z-index: zOrder(higher);
        }
        .panel {
          position: absolute;
          @include pull(t);
          transform: translateY(0.98em);
          align-self: flex-end;
          font-size: 1.1rem;
          max-height: 12.5em;
          white-space: nowrap;
          border-radius: 4px;
          color: $site-color-lighter;
          background-color: #fff;
          box-shadow: shadow(tpb(0.75), 0.5em);
          overflow-x: auto;
          overflow-y: scroll;
        }
        .description {
          display: block;
          opacity: 0.35;
        }
        li a {
          display: inline-block;
          width: 100%;
          font-size: 0.9em;
          text-align: left;
          cursor: pointer;

          &::before { @include fill(true, #000); }

          @include mouseState(noHover) {
            opacity: 0.8;

            &::before       { opacity: 0; }
          }
          @include mouseState(hover) {
            opacity: 1;

            &::before       { opacity: 0.15; }
          }
          @include mouseState(click) {
            &::before       { opacity: 0.3; }
          }
        }

        @media screen and (max-width: 549px) {
          .description, li a { padding: 6px 18px 6px 9px; }
        }
        @media screen and (min-width: 550px) {
          .description, li a { padding: 4px 16px 4px 8px; }
        }
      }
    }
  }
}
main {
  @mixin panelBase {
    @at-root main .panel { @content; }
  }

  @include flexbox(none, none, $direction: c);
  padding: 32px 16px 64px;
  overflow: hidden;
}
.overlay {
  @include fill(false, $site-color-main);
  @include flexbox;

  &.inactive { opacity: 0; }
  &[hidden]  { display: none; }

  .spinner {
    transform: scale(1.25);
  }
}
.full-changelog-link {
  border: bd(1.5px);
  border-radius: 4px;
  @include multiProp(tpw(0.25), background-color, border-color);
  padding: 8px;
  margin-bottom: 16px;
  text-align: center;
}
.changelog {
  @keyframes panelFadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
  }

  opacity: 0;
  animation: panelFadeIn 0.4s linear forwards;

  .header .title { font-size: 1.25em; }
  .info {
    display: flex;

    @media screen and (max-width: 399px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (min-width: 400px) {
      flex-direction: row;
      align-items: center;
    }
    @media screen and (max-width: 399px) {
      .date, .type {
        display: list-item;
        list-style: disc inside;
      }
      .separator { display: none; }
    }
    @media screen and (min-width: 400px) {
      .date, .type, .separator { display: inline; }
    }

    .separator {
      font-size: 1.5em;
      padding: 0 0.35em;
      line-height: 0;
    }
  }
  h3 { font-size: 1.15em; }
}
