RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

ErrorDocument 400 /error-document.php?code=400
ErrorDocument 401 /error-document.php?code=401
ErrorDocument 403 /error-document.php?code=403
ErrorDocument 404 /error-document.php?code=404
ErrorDocument 408 /error-document.php?code=408
ErrorDocument 500 /error-document.php?code=500
ErrorDocument 503 /error-document.php?code=503
