/*********************************
  Footer Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Variables ***/
/*** Animations ***/
@keyframes creditAnimation1 {
  20%, 50%, 80% {
    transform: rotate(0deg); }
  35% {
    transform: rotate(-15deg); }
  65% {
    transform: rotate(15deg); } }
@keyframes creditAnimation2 {
  0%, 60%, 100% {
    transform: scale(1); }
  25% {
    transform: scale(0.95); }
  40% {
    transform: scale(1.05); }
  75% {
    transform: scale(1.1); } }
/*** Media Queries ***/
@media screen and (max-width: 539px) {
  footer .content-wrapper .social, footer .content-wrapper .return {
    grid-row: 2; }
  footer .content-wrapper .social {
    grid-column: 1 / span 2; }
  footer .content-wrapper .info {
    grid-column: 1 / span 3; }
  footer .content-wrapper .return {
    grid-column: 2 / span 3; } }
@media screen and (min-width: 540px) {
  footer .content-wrapper .social, footer .content-wrapper .return {
    grid-row: 1; }
  footer .content-wrapper .social {
    grid-column: 1; }
  footer .content-wrapper .info {
    grid-column: 2; }
  footer .content-wrapper .return {
    grid-column: 3; } }
/*** Style Declarations ***/
.primary-footer {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  position: relative; }
  .primary-footer * {
    opacity: 1;
    transition: opacity 0.2s ease-out; }
  body[data-theme="main"] .primary-footer {
    background-color: #f00; }
  body[data-theme="bl1"] .primary-footer {
    background-color: #dc143c; }
  body[data-theme="bl2"] .primary-footer {
    background-color: #ff4500; }
  body[data-theme="tps"] .primary-footer {
    background-color: #1e90ff; }
  .primary-footer .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    padding: 24px; }
    .primary-footer .content-wrapper .social {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: start;
      font-size: 1.75em;
      padding: 8px;
      cursor: default; }
      .primary-footer .content-wrapper .social a {
        color: inherit;
        text-decoration: none;
        height: 1.1em;
        width: 1.1em;
        transition: opacity 0.2s ease-out; }
        .primary-footer .content-wrapper .social a:not(:hover):not(:focus) {
          opacity: 0.75; }
        .primary-footer .content-wrapper .social a:hover, .primary-footer .content-wrapper .social a:focus {
          opacity: 1; }
        .primary-footer .content-wrapper .social a:not(:last-child) {
          margin-right: 6px; }
    .primary-footer .content-wrapper .info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      justify-self: center;
      grid-row: 1;
      font-size: 1.1em;
      padding: 4px 0;
      text-align: center; }
      .primary-footer .content-wrapper .info .credit {
        display: flex;
        align-items: center;
        justify-content: center; }
        .primary-footer .content-wrapper .info .credit:hover .fa-code, .primary-footer .content-wrapper .info .credit:focus .fa-code {
          animation-name: creditAnimation1; }
        .primary-footer .content-wrapper .info .credit:hover .fa-heart, .primary-footer .content-wrapper .info .credit:focus .fa-heart {
          animation-name: creditAnimation2; }
        .primary-footer .content-wrapper .info .credit .fas {
          animation-duration: 1.5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite; }
        .primary-footer .content-wrapper .info .credit .fa-code {
          padding-right: 0.25em; }
        .primary-footer .content-wrapper .info .credit .fa-heart {
          padding: 0 0.25em; }
        .primary-footer .content-wrapper .info .credit strong {
          padding-left: 0.25em; }
      .primary-footer .content-wrapper .info .version {
        font-size: 0.9em; }
        .primary-footer .content-wrapper .info .version .num {
          padding-left: 0.25em; }
      .primary-footer .content-wrapper .info .credit, .primary-footer .content-wrapper .info .version {
        color: inherit;
        text-decoration: none;
        padding: 4px 8px;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out; }
        .primary-footer .content-wrapper .info .credit:not(:hover):not(:focus), .primary-footer .content-wrapper .info .version:not(:hover):not(:focus) {
          opacity: 0.75; }
        .primary-footer .content-wrapper .info .credit:hover, .primary-footer .content-wrapper .info .credit:focus, .primary-footer .content-wrapper .info .version:hover, .primary-footer .content-wrapper .info .version:focus {
          opacity: 1; }
        .primary-footer .content-wrapper .info .credit:active, .primary-footer .content-wrapper .info .version:active {
          transform: scale(0.85); }
    .primary-footer .content-wrapper .return {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: end;
      color: inherit;
      text-decoration: none;
      font-size: 1.5em;
      padding: 8px;
      transition: opacity 0.2s ease-out, transform 0.2s ease-out; }
      .primary-footer .content-wrapper .return:not(:hover):not(:focus) {
        opacity: 0.75; }
      .primary-footer .content-wrapper .return:hover, .primary-footer .content-wrapper .return:focus {
        opacity: 1; }
      .primary-footer .content-wrapper .return:active {
        transform: scale(0.85); }
      .primary-footer .content-wrapper .return .fas {
        padding: 6px;
        border: 2px solid;
        border-radius: 50%; }
  .primary-footer .devmode-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.4); }
    .primary-footer .devmode-message strong {
      padding-left: 0.25em; }
