/*********************************
Sidebar Styles
*********************************/
/*** Imports ***/
/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
/*** Style Declarations ***/
.sidebar {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101; }
  .sidebar * {
    opacity: 1;
    transition: opacity 0.2s ease-out; }
  .sidebar:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease-out; }
  .sidebar[data-expanded="false"]:before {
    opacity: 0; }
  .sidebar[data-expanded="false"] .panel {
    transform: translateX(calc(-100% - 0.5em));
    box-shadow: none; }
  .sidebar[data-expanded="true"]:before {
    opacity: 1; }
  .sidebar[data-expanded="true"] .panel {
    transform: translateX(0);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5); }
  .sidebar[hidden] {
    display: none; }
  .sidebar:not([hidden]) {
    display: block; }
  .sidebar .panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: inherit;
    background-color: #1d3f60;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    overflow: auto;
    transition: transform 0.2s ease-out; }
    .sidebar .panel .header {
      display: flex;
      align-items: center;
      height: 64px;
      width: 100%;
      overflow: hidden; }
      .sidebar .panel .header .toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        width: 64px; }
        .sidebar .panel .header .toggle:not(:hover):not(:focus) .fas {
          opacity: 0.75; }
        .sidebar .panel .header .toggle:hover .fas, .sidebar .panel .header .toggle:focus .fas {
          opacity: 1; }
        .sidebar .panel .header .toggle .fas {
          position: relative;
          font-size: 26px;
          transition: opacity 0.2s ease-out; }
      .sidebar .panel .header .brand {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        text-decoration: none;
        height: 64px;
        padding: 12px 16px;
        font-size: 1.5em; }
        .sidebar .panel .header .brand:not(:hover):not(:focus) .name:before, .sidebar .panel .header .brand:not(:hover):not(:focus) .name:after {
          opacity: 0; }
        .sidebar .panel .header .brand:hover .name:before, .sidebar .panel .header .brand:focus .name:before {
          opacity: 1; }
        .sidebar .panel .header .brand:hover .name:after, .sidebar .panel .header .brand:focus .name:after {
          opacity: 0; }
        .sidebar .panel .header .brand:active .name:before {
          opacity: 0; }
        .sidebar .panel .header .brand:active .name:after {
          opacity: 1; }
        .sidebar .panel .header .brand .name {
          position: relative;
          padding: 4px 0; }
          .sidebar .panel .header .brand .name:before, .sidebar .panel .header .brand .name:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            border-bottom: 2px solid;
            transition: opacity 0.2s ease-out; }
          body[data-theme="main"] .sidebar .panel .header .brand .name:before {
            border-color: #f00; }
          body[data-theme="bl1"] .sidebar .panel .header .brand .name:before {
            border-color: #dc143c; }
          body[data-theme="bl2"] .sidebar .panel .header .brand .name:before {
            border-color: #ff4500; }
          body[data-theme="tps"] .sidebar .panel .header .brand .name:before {
            border-color: #1e90ff; }
          .sidebar .panel .header .brand .name:after {
            border-color: #fff; }
          .sidebar .panel .header .brand .name .focus {
            font-weight: bold; }
            body[data-theme="main"] .sidebar .panel .header .brand .name .focus {
              color: #f00; }
            body[data-theme="bl1"] .sidebar .panel .header .brand .name .focus {
              color: #dc143c; }
            body[data-theme="bl2"] .sidebar .panel .header .brand .name .focus {
              color: #ff4500; }
            body[data-theme="tps"] .sidebar .panel .header .brand .name .focus {
              color: #1e90ff; }
    .sidebar .panel .link {
      display: grid;
      grid-template-columns: 64px 1fr;
      position: relative;
      padding: 16px 32px 16px 0;
      color: inherit;
      text-decoration: none;
      transition: opacity 0.2s ease-out; }
      .sidebar .panel .link:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: #000;
        transition: opacity 0.2s ease-out; }
      .sidebar .panel .link:not(:hover):not(:focus)[data-selected="false"] {
        opacity: 0.75; }
        .sidebar .panel .link:not(:hover):not(:focus)[data-selected="false"]:before {
          opacity: 0; }
        .sidebar .panel .link:not(:hover):not(:focus)[data-selected="false"] .badges *:before {
          opacity: 0; }
        .sidebar .panel .link:not(:hover):not(:focus)[data-selected="false"] .badges *:after {
          opacity: 1; }
      .sidebar .panel .link:hover, .sidebar .panel .link:focus {
        opacity: 1; }
        .sidebar .panel .link:hover:before, .sidebar .panel .link:focus:before {
          opacity: 0.2; }
        .sidebar .panel .link:hover .badges *:before, .sidebar .panel .link:focus .badges *:before {
          opacity: 1; }
        .sidebar .panel .link:hover .badges *:after, .sidebar .panel .link:focus .badges *:after {
          opacity: 0; }
      .sidebar .panel .link:active {
        opacity: 1; }
        .sidebar .panel .link:active:before {
          opacity: 0.4; }
        .sidebar .panel .link:active .badges *:before {
          opacity: 1; }
        .sidebar .panel .link:active .badges *:after {
          opacity: 0; }
      .sidebar .panel .link[data-selected="false"]:before {
        background-color: #000; }
      .sidebar .panel .link[data-selected="false"] .badges * {
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); }
        .sidebar .panel .link[data-selected="false"] .badges *.new:before {
          background-color: #0057ff; }
        .sidebar .panel .link[data-selected="false"] .badges *.exp:before {
          background-color: #ff8c00; }
      .sidebar .panel .link[data-selected="true"] {
        opacity: 1; }
        .sidebar .panel .link[data-selected="true"]:before {
          opacity: 1; }
        .sidebar .panel .link[data-selected="true"] .badges *:before {
          opacity: 1; }
        .sidebar .panel .link[data-selected="true"] .badges *:after {
          opacity: 0; }
        body[data-theme="main"] .sidebar .panel .link[data-selected="true"]:before {
          background-color: #f00; }
        body[data-theme="bl1"] .sidebar .panel .link[data-selected="true"]:before {
          background-color: #dc143c; }
        body[data-theme="bl2"] .sidebar .panel .link[data-selected="true"]:before {
          background-color: #ff4500; }
        body[data-theme="tps"] .sidebar .panel .link[data-selected="true"]:before {
          background-color: #1e90ff; }
        .sidebar .panel .link[data-selected="true"] .badges * {
          color: #000; }
          .sidebar .panel .link[data-selected="true"] .badges *:before {
            background-color: #fff;
            border-color: #000; }
      .sidebar .panel .link .fas {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1;
        position: relative;
        width: 64px;
        padding: 0 16px;
        font-size: 22px;
        color: #fff; }
      .sidebar .panel .link .name {
        grid-column: 2;
        position: relative;
        padding: 0 16px;
        font-size: 1.25em; }
      .sidebar .panel .link .badges {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-column: 2;
        position: relative;
        padding: 2px 16px;
        font-size: 0.7em;
        font-weight: 600; }
        .sidebar .panel .link .badges .new, .sidebar .panel .link .badges .exp {
          position: relative;
          padding: 5px 10px;
          line-height: 1; }
          .sidebar .panel .link .badges .new:after, .sidebar .panel .link .badges .exp:after {
            border: 1px solid; }
          .sidebar .panel .link .badges .new:before, .sidebar .panel .link .badges .new:after, .sidebar .panel .link .badges .exp:before, .sidebar .panel .link .badges .exp:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            transition: opacity 0.2s ease-out; }
          .sidebar .panel .link .badges .new:not(:last-child), .sidebar .panel .link .badges .exp:not(:last-child) {
            margin-right: 4px; }
          .sidebar .panel .link .badges .new span, .sidebar .panel .link .badges .exp span {
            position: relative; }
    .sidebar .panel .separator {
      border-bottom: 2px solid #fff;
      margin: 16px;
      opacity: .5; }
