/*********************************
  Global Sass Declarations
*********************************/
/*** Variables ***/
/*** Functions ***/
/*** Mixins ***/
.dropdown-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit; }
  .dropdown-menu-container, .dropdown-menu-container * {
    opacity: 1; }

.dropdown-menu-target {
  z-index: 2; }

.dropdown-menu {
  position: absolute;
  font-size: 1rem;
  z-index: 1; }
  .dropdown-menu[hidden], .dropdown-menu:not([hidden]):not(.configured) {
    display: none; }
  .dropdown-menu:not([hidden]) {
    display: grid; }
  .dropdown-menu[data-expanded="false"] {
    opacity: 0; }
  .dropdown-menu[data-expanded="true"] {
    opacity: 1; }
  .dropdown-menu .arrow {
    position: absolute;
    height: 0;
    width: 0;
    border: 0.5em solid transparent;
    border-bottom-color: #fff; }
    .dropdown-menu[data-pos="bottom"] .arrow {
      transform: translate(0 -0.5em) rotate(0deg);
      justify-self: center; }
    .dropdown-menu[data-pos="top"] .arrow {
      transform: translate(0 0.5em) rotate(180deg);
      justify-self: center; }
    .dropdown-menu[data-pos="right"] .arrow {
      transform: translate(-0.5em 0) rotate(270deg);
      align-self: center; }
    .dropdown-menu[data-pos="left"] .arrow {
      transform: translate(0.5em 0) rotate(90deg);
      align-self: center; }
  .dropdown-menu .panel {
    position: absolute;
    color: #fff;
    background-color: #224365;
    border: 1.5px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
    .dropdown-menu[data-pos="bottom"] .panel {
      transform: translate(0 0.5em); }
    .dropdown-menu[data-pos="top"] .panel {
      transform: translate(0 -0.5em); }
    .dropdown-menu[data-pos="right"] .panel {
      transform: translate(0.5em 0); }
    .dropdown-menu[data-pos="left"] .panel {
      transform: translate(-0.5em 0); }
    .dropdown-menu[data-pos="top"][data-align="left"] .panel, .dropdown-menu[data-pos="bottom"][data-align="left"] .panel {
      justify-self: flex-start; }
    .dropdown-menu[data-pos="top"][data-align="right"] .panel, .dropdown-menu[data-pos="bottom"][data-align="right"] .panel {
      justify-self: flex-end; }
    .dropdown-menu[data-pos="top"][data-align="left"] .panel, .dropdown-menu[data-pos="top"][data-align="right"] .panel, .dropdown-menu[data-pos="bottom"][data-align="left"] .panel, .dropdown-menu[data-pos="bottom"][data-align="right"] .panel {
      min-width: calc(50% + 1em); }
    .dropdown-menu[data-pos="top"]:not([data-align="left"]):not([data-align="right"]) .panel, .dropdown-menu[data-pos="bottom"]:not([data-align="left"]):not([data-align="right"]) .panel {
      justify-self: center; }
    .dropdown-menu[data-pos="left"][data-align="top"] .panel, .dropdown-menu[data-pos="right"][data-align="top"] .panel {
      align-self: flex-start; }
    .dropdown-menu[data-pos="left"][data-align="bottom"] .panel, .dropdown-menu[data-pos="right"][data-align="bottom"] .panel {
      align-self: flex-end; }
    .dropdown-menu[data-pos="left"][data-align="top"] .panel, .dropdown-menu[data-pos="left"][data-align="bottom"] .panel, .dropdown-menu[data-pos="right"][data-align="top"] .panel, .dropdown-menu[data-pos="right"][data-align="bottom"] .panel {
      min-height: calc(50% + 1em); }
    .dropdown-menu[data-pos="left"]:not([data-align="top"]):not([data-align="bottom"]) .panel, .dropdown-menu[data-pos="right"]:not([data-align="top"]):not([data-align="bottom"]) .panel {
      align-self: center; }
    .dropdown-menu .panel .title {
      opacity: 0.5;
      font-size: 1.2em;
      cursor: default; }
    .dropdown-menu .panel .choice-list.scrollable {
      max-height: 12.5em;
      overflow-x: hidden;
      overflow-y: scroll; }
    .dropdown-menu .panel .choice {
      display: block;
      font-size: 1.1em;
      cursor: pointer; }
      .dropdown-menu .panel .choice::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        content: ""; }
      .dropdown-menu .panel .choice[aria-pressed="false"], .dropdown-menu .panel .choice:not([aria-pressed]) {
        color: inherit; }
        .dropdown-menu .panel .choice[aria-pressed="false"]::before, .dropdown-menu .panel .choice:not([aria-pressed])::before {
          background-color: rgba(255, 255, 255, 0.75); }
        .dropdown-menu .panel .choice[aria-pressed="false"]:not(:hover):not(:focus), .dropdown-menu .panel .choice:not([aria-pressed]):not(:hover):not(:focus) {
          opacity: 0.8; }
          .dropdown-menu .panel .choice[aria-pressed="false"]:not(:hover):not(:focus)::before, .dropdown-menu .panel .choice:not([aria-pressed]):not(:hover):not(:focus)::before {
            opacity: 0; }
        .dropdown-menu .panel .choice[aria-pressed="false"]:hover, .dropdown-menu .panel .choice[aria-pressed="false"]:focus, .dropdown-menu .panel .choice:not([aria-pressed]):hover, .dropdown-menu .panel .choice:not([aria-pressed]):focus {
          opacity: 1; }
          .dropdown-menu .panel .choice[aria-pressed="false"]:hover::before, .dropdown-menu .panel .choice[aria-pressed="false"]:focus::before, .dropdown-menu .panel .choice:not([aria-pressed]):hover::before, .dropdown-menu .panel .choice:not([aria-pressed]):focus::before {
            opacity: 0.25; }
        .dropdown-menu .panel .choice[aria-pressed="false"]:active::before, .dropdown-menu .panel .choice:not([aria-pressed]):active::before {
          opacity: 0.5; }
      .dropdown-menu .panel .choice[aria-pressed="true"] {
        color: #fff; }
        body[data-theme="main"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #f00; }
        body[data-theme="bl1"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #dc143c; }
        body[data-theme="bl2"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #ff4500; }
        body[data-theme="tps"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #1e90ff; }
        body[data-theme="bl3"] .dropdown-menu .panel .choice[aria-pressed="true"] {
          background-color: #ffa900; }
        .dropdown-menu .panel .choice[aria-pressed="true"]::before {
          background-color: #fff; }
        .dropdown-menu .panel .choice[aria-pressed="true"]:not(:hover):not(:focus)::before {
          opacity: 0; }
        .dropdown-menu .panel .choice[aria-pressed="true"]:hover::before, .dropdown-menu .panel .choice[aria-pressed="true"]:focus::before {
          opacity: 0.25; }
        .dropdown-menu .panel .choice[aria-pressed="true"]:active {
          opacity: 0.75; }
    .dropdown-menu .panel .title, .dropdown-menu .panel .choice {
      text-align: left;
      width: 100%;
      white-space: nowrap;
      padding: 8px 32px 8px 16px;
      min-width: 7.5em; }
  .dropdown-menu[data-pos="bottom"] .arrow {
    top: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="bottom"] .panel {
    top: calc(100% + 4px); }
  .dropdown-menu[data-pos="top"] .arrow {
    bottom: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="top"] .panel {
    bottom: calc(100% + 4px); }
  .dropdown-menu[data-pos="right"] .arrow {
    left: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="right"] .panel {
    left: calc(100% + 4px); }
  .dropdown-menu[data-pos="left"] .arrow {
    right: calc(100% + 4px + 1.5px); }
  .dropdown-menu[data-pos="left"] .panel {
    right: calc(100% + 4px); }
