@import "../partials/_globals";

.multi-view {
  @keyframes multiViewFadeIn {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
  }

  &.force-size .views {
    align-items: center;
    justify-content: center;
  }

  .views {
    @include flexbox(none, none);
    flex: 1 1;
  }
  .view {
    // position: absolute;
    @include multiProp(100%, sizing);
    opacity: 0.25;
    // opacity: 1;
    // z-index: zOrder(higher);
    animation: multiViewFadeIn 0.3s ease forwards;
    transition: opacity 0.3s ease;

    // &:not([hidden]) {
    //   // position: relative;
    //   z-index: zOrder(higher);
    // }
    // &:not(.force-size)[hidden] {
    //   display: none;
    // }
    // &:not([hidden]) {
    //   opacity: zOrder(default);
    // }

    @at-root .multi-view {
      &.force-size > .views > .view {
        &:first-of-type {
          // display: block;
          // position: absolute;
          &[hidden] {
            display: flex;
            z-index: zOrder(hidden);
          }
        }

        &:not(:first-of-type) {
          position: absolute;
          overflow: auto;
          max-height: 500px;
          width: 100%;
          height: 100%;

          &[hidden] {
            display: none;
          }
        }
      }
      &:not(.force-size) > .views > .view {
        &[hidden] {
          display: none;
        }
      }
    }
  }  
}